.sign-in {
    .sign-in-content-container {
        margin-top: 6.6rem;
        text-align: center;
    }

    .sign-in-button {
        margin-top: 3.2rem;
        margin:auto;
    }

    .margin-between{
        margin-top: 1rem;
    }
}
