@page
@model LinkUnfurlingInShareToTeams.Pages.TabModel
@{
}

<head>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.11.0/js/MicrosoftTeams.min.js"
            integrity="sha384-SCVF3m7OvDKnfAilUzYn2yozEvBeP8n/Oq0yTH8VUI70J4AzrqR70jzjdQ6DI8s2"
            crossorigin="anonymous"></script>
    <script defer src="https://teams.microsoft.com/share/launcher.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./tab.css">

    <script>
        $(document).ready(function () {
            var isOpenedInTeams;
            microsoftTeams.initialize();
            const params = window.location.search;
            isOpenedInTeams = params.substring(params.search("=") + 1);
            if (isOpenedInTeams == "true") {
                $("#stt-btn-web").show();
            }
            else {
                $("#stt-btn-teams").show();
                var element = document.getElementById("stt-btn");
                let uri = `${window.location.origin}?linkunfurling`;
                let encoded = encodeURI(uri);
                element.setAttribute("data-href", encoded);
            }

        });

        shareTeamsHandler = () => {
            microsoftTeams.sharing.shareWebContent({
                content: [
                    {
                        type: 'URL',
                        url: `${window.location.origin}?linkunfurling`,
                        preview: true
                    }
                ]
            });
        }
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <h3 id="tabheader"> Link unfurling in STT</h3>
        <img id="reportimg" src="/Images/report.png" width="500" height="425" />
        <div id="stt-btn-teams" class="teams-share-button" data-href="" data-button-type="medium" data-icon-px-size="160" data-preview="true" hidden="true"></div>
        <Button id="stt-btn-web" onclick="shareTeamsHandler()" hidden="true"> Share to teams (web)</Button>
    </div>
</body>