
.button{
  background-color: #405cf5;
  border-radius: 5px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  height: 30px;
  outline: none;
  padding: 0 25px;
  text-align: center;
  width: 11vw;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.input{
    width: 18vw;
    height: 25px;
    border-radius: 5px;
    margin-right: 5px;
}

.input:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }