<head>
    <script src="https://res.cdn.office.net/teams-js/2.5.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        let accessToken;
        let showSSOToggle = false;
        let showFbToggle = false;
        let showUserToggle = false;
        let clientId =  <%-clientId%>
        let redirectUri = window.location.origin + "/fb-auth";

        $(document).ready(function () {
            microsoftTeams.app.initialize().then(() => {
                microsoftTeams.app.getContext().then((context) => {
                    hostClientType = context.app.host.clientType;
                    if(hostClientType != "web" && hostClientType != "desktop"){
                        $('.card-container-div').removeClass('card-container-div').addClass('card-container-div-mobile');
                    }
                });
            });
        });

        microsoftTeams.app.initialize();
        function ssoAuthentication() {
            getClientSideToken()
                .then((clientSideToken) => {
                    return getServerSideToken(clientSideToken);
                })
                .catch((error) => {
                    alert(error);
                    if (error === "invalid_grant") {
                        // Display in-line button so user can consent
                        $("#divError").text("Error while exchanging for Server token - invalid_grant - User or admin consent is required. Click Authenticate button.");
                        $("#divError").css("margin-left", "15rem");
                        $("#sso").hide();
                        $("#divError").show();
                        $("#consent").show();

                    } else {
                        // Display in-line button so user can consent
                        $("#divError").text("Error while exchanging for Server token - invalid_grant - User or admin consent is required. Click Authenticate button.");
                        $("#divError").css("margin-left", "15rem");
                        $("#sso").hide();
                        $("#divError").show();
                        $("#consent").show();
                    }
                });
        }

        function getClientSideToken() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.getAuthToken().then((result) => {
                    console.log(result);
                    resolve(result);
                })
                .catch((error) => {
                    reject("Error getting token: " + error);
                });
            });
        }

        function getServerSideToken(clientSideToken) {
            return new Promise((resolve, reject) => {
                microsoftTeams.app.getContext().then((context) => {
                    fetch('/getProfileOnBehalfOf', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'tid': context.user.tenant.id,
                            'token': clientSideToken
                        }),
                        mode: 'cors',
                        cache: 'default'
                    })
                        .then((response) => {
                            if (response.ok) {
                                console.log(response);
                                return response.json();
                            } else {
                                reject(response.error);
                            }
                        })
                        .then((responseJson) => {
                            if (responseJson.error) {
                                reject(responseJson.error);
                            } else {
                                const userDetails = responseJson;
                                let userName = userDetails.details.displayName.split(" ");
                                $("#userImgSso").attr("src", userDetails.image);
                                $("#name").append(userDetails.details.displayName);
                                $("#username").append(`${userName[0]}_${userName[1]}  <i class="fa fa-pencil" aria-hidden="true" onclick="ssoUserNameToggle()"></i>`);
                                $("#email").append(userDetails.details.userPrincipalName);
                                $("#work").append(userDetails.details.jobTitle);
                                $("#sso").hide();
                            }
                        });
                });
            });
        }

        // Request consent on implicit grant error.
        function requestConsent() {
            getToken()
                .then(data => {
                    $("#consent").hide();
                    $("#divError").hide();
                    getClientSideToken()
                        .then((clientSideToken) => {
                            return getServerSideToken(clientSideToken);
                        })
                });
        }

        // Get token for multi tenant.
        function getToken() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.authenticate({
                    url: window.location.origin + "/auth-start",
                    width: 600,
                    height: 535})
                .then((result) => {
                    resolve(result);
                })
                .catch((reason) => {
                    reject(reason);
                });
            });
        }


        // Get user information.
        function getUserInfo(userPrincipleName) {
            if (userPrincipleName) {
                $.ajax({
                    type: 'POST',
                    url: '/GetUserDetails',
                    dataType: 'json',
                    data: {
                        'accessToken': accessToken,
                    },
                    success: function (responseJson) {
                        let userName = responseJson.details.displayName.split(" ");
                        $("#sso").show();
                        $("#userImgSso").attr("src", responseJson.image);
                        $("#name").append(responseJson.details.displayName);
                        $("#username").append(`${userName[0]}_${userName[1]}  <i class="fa fa-pencil" aria-hidden="true" onclick="ssoUserNameToggle()"></i>`);
                        $("#email").append(responseJson.details.userPrincipalName);
                        $("#work").append(responseJson.details.jobTitle);
                        $("#consent").hide();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    }
                });
            }
        }

        function getServerSideTokenFb(clientSideToken) {
            return new Promise((resolve, reject) => {
                microsoftTeams.app.getContext().then((context) => {
                    fetch('/getFbAccessToken', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'token': clientSideToken
                        }),
                        mode: 'cors',
                        cache: 'default'
                    })
                        .then((response) => {
                            if (response.ok) {
                                console.log(response);
                                return response.json();
                            } else {
                                reject(response.error);
                            }
                        })
                        .then((responseJson) => {
                            if (responseJson.error) {
                                reject(responseJson.error);
                            } else {
                                console.log(responseJson);
                                let userFbDetails = responseJson;
                                let userName = userFbDetails.name.split(" ");
                                $("#fbname").append(userFbDetails.name);
                                $("#fbusername").append(`${userName[0]}_${userName[1]}  <i class="fa fa-pencil" aria-hidden="true" onclick="fbUserNameToggle()"></i>`);
                                $("#userImgFb").attr("src", userFbDetails.picture.data.url);
                                $("#fblogin").hide();
                            }
                        });
                });
            });
        }

        function ssoUserNameToggle() {
            if(!showSSOToggle){
            $("#sso-username-container").show();
            showSSOToggle = true;
            }
            else if (showSSOToggle){
                $("#sso-username-container").hide();
                showSSOToggle = false;
            }
        }

        function fbUserNameToggle() {
            if(!showFbToggle){
            $("#fb-username-container").show();
            showFbToggle = true;
            }
            else if (showFbToggle){
                $("#fb-username-container").hide();
                showFbToggle = false;
            }
        }

        function usingIdUserNameToggle() {
            if(!showUserToggle){
            $("#userid-username-container").show();
            showUserToggle = true;
            }
            else if (showUserToggle){
                $("#userid-username-container").hide();
                showUserToggle = false;
            }
        }

        function ssoUserNameEdit() {
            var userName = $('#userNameInputSSO').val();
            $("#username").empty();
            $("#username").append(`<b>User Name :</b> ${userName} <i class="fa fa-pencil" aria-hidden="true" onclick="ssoUserNameToggle()"></i>`);
            $("#sso-username-container").hide();
            showSSOToggle = false;
        }

        function fbUserNameEdit() {
            var userName = $('#userNameInputFb').val();
            $("#fbusername").empty();
            $("#fbusername").append(`<b>User Name :</b> ${userName} <i class="fa fa-pencil" aria-hidden="true" onclick="fbUserNameToggle()"></i>`);
            $("#fb-username-container").hide();
            showFbToggle = false;
        }

        function usingIdUserNameEdit() {
            var userName = $('#userNameInputId').val();
            $("#susername").empty();
            $("#susername").append(`<b>User Name :</b> ${userName} <i class="fa fa-pencil" aria-hidden="true" onclick="usingIdUserNameToggle()"></i>`);
            $("#userid-username-container").hide();
            showUserToggle = false;
        }

        function IsValidJSONString(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }

        function usingCredentials() {
            microsoftTeams.authentication.authenticate({
                url: window.location.origin + "/popUpSignin?from=tab",
                width: 600,
                height: 535})
            .then((result) => {
                $("#sname").append("Test User");
                $("#susername").append(`Test_User  <i class="fa fa-pencil" aria-hidden="true" onclick="usingIdUserNameToggle()"></i>`);
                $("#semail").append("testuser@test.com");
                $("#swork").append("Data scientist");
                $("#idlogin").hide();
            })
            .catch((reason) => {
                console.log(reason);
            });
        }

        function fbAuthentication() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.authenticate({
                    url: `https://www.facebook.com/v12.0/dialog/oauth?client_id=${clientId}&redirect_uri=${redirectUri}&state=1234535`,
                    width: 600,
                    height: 535})
                .then((result) => {
                    let data = localStorage.getItem(result);
                    let tokenDetails = JSON.parse(data);
                    localStorage.removeItem(result);
                    resolve(tokenDetails);
                })
                .catch((reason) => {
                    reject(reason);
                })
            });
        }

        function fbAuth() {
            fbAuthentication()
                .then((result) => {
                    return getServerSideTokenFb(result.idToken);
                })
                .catch((error) => {
                    console.log(error);
                });
        }

    </script>
    <style>
        h3 {
            text-align: center;
            margin-top: 0.5rem;
        }

        button {
            margin-left: 36rem;
            margin-top: 1rem;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 30rem;
            height: 12rem;
            margin-left: 2rem;
            margin-top: 0.5rem;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 2px 2px;
            display: flex;
        }

        img {
            border-radius: 50%;
        }

        .profile {
            margin-top: 1rem;
            margin-left: 2rem;
            max-width: 30rem;
            align-content: flex-start;
        }

        #fb-username-btn, #sso-username-btn, #userid-username-btn {
            margin-left: 2rem;
            margin-bottom: 1rem;
        }

        .btn-outline-info {
            margin-left: 19rem;
            max-width: 10rem;
        }

        .signin-header {
            margin-left: 2rem;
            margin-top: 1rem;
        }

         .card-container-div {
            margin-left: 30%;
            padding-bottom: 2rem;
        }
        
        .card-container-div-mobile {
            margin-left:1%;
            padding-bottom: 2rem;
        }

        #divError{
            margin-left: 1rem
        }
    </style>
</head>

<body class="theme-light">
    <div class="surface">
        <h3> Welcome to App complete auth sample</h3>
        <div class="card-container-div">
            <div>
                <div class="signin-header"><b>1) AAD SSO</b></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                            alt="Avatar" id="userImgSso" width="100px">
                        <div class="profile">
                            <span id="name"><b>Name: </b></span><br>
                            <span id="username"><b>User Name: </b></span><br>
                            <span id="email"><b>Email: </b></span></span><br>
                            <span id="work"><b>Work: </b></span></span>
                            <div id = "sso-username-container" style="display: none">
                            <input id="userNameInputSSO" type="text">
                            <button id="sso-username-btn" type="button" class="btn btn-outline-info" onclick="ssoUserNameEdit()">edit</button>
                        </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-info" onclick="requestConsent()" id="consent"
                        style="display:none;">Consent</button>
                    <button type="button" class="btn btn-outline-info" onclick="ssoAuthentication()" id="sso">Get
                        Details</button>
                </div>
                <div id="divError" style="display: none"></div>
            </div>
            <div>
                <div class="signin-header"><b>2) Sign in using Facebook</b></div>
                <div id="divError" style="display: none"></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                            alt="Avatar" id="userImgFb" width="100px">
                        <div class="profile">
                            <span id="fbname"><b>Name: </b></span><br>
                            <span id="fbusername"><b>User Name: </b></span><br>
                            <div id = "fb-username-container" style="display: none">
                            <input id="userNameInputFb" type="text">
                            <button id="fb-username-btn" type="button" class="btn btn-outline-info" onclick="fbUserNameEdit()">edit</button>
                            </div>
                        </div>
                    </div>
                    <button id="fblogin" type="button" class="btn btn-outline-info" onclick="fbAuth()">Login</button>
                </div>
            </div>
            <div>
                <div class="signin-header"><b>3) Sign in using id/password</b></div>
                <div id="divError" style="display: none"></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                            alt="Avatar" id="userImgSso" width="100px">
                        <div class="profile">
                            <span id="sname"><b>Name: </b></span><br>
                            <span id="susername"><b>User Name: </b></span><br>
                            <span id="semail"><b>Email: </b></span><br>
                            <span id="swork"><b>Work: </b></span>
                            <div id = "userid-username-container" style="display: none">
                            <input id="userNameInputId" type="text">
                            <button id="userid-username-btn" type="button" class="btn btn-outline-info" onclick="usingIdUserNameEdit()">edit</button>
                        </div>
                        </div>
                    </div>
                    <button id="idlogin" type="button" class="btn btn-outline-info" onclick="usingCredentials()">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>