<html>
<head>
    <title> Auth End Page</title>
</head>
<body>
    <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.15/js/adal.min.js" ,
        integrity="sha384-lIk8T3uMxKqXQVVfFbiw0K/Nq+kt1P3NtGt/pNexiDby2rKU6xnDY8p16gIwKqgI" ,
        crossorigin="anonymous"></script>
    <script>
        microsoftTeams.app.initialize();
        localStorage.removeItem("auth.error");
        let code = getHashParameters();
        let key = "auth.result";
                localStorage.setItem(key, JSON.stringify({
                    idToken: code,
                }));
        microsoftTeams.authentication.notifySuccess(key);

        function getHashParameters() {
            let hashParams = {};
            var urlString = window.location.href;
            var url = new URL(urlString);
            var code = url.searchParams.get("code");
            return code;
        }
    </script>
</body>
</html>