extends layout.pug

block content
  div(class="font-semibold font-title") Azure AD SSO Sample Tab
  p
    div
      label(for="tabChoice")
      | Click Save below to set up the tab
  script(src="/scripts/initTeamsTab.js")
  script(src="/scripts/config.js")