doctype html
html(lang="en")
  head
    title Microsoft Teams Hello World Sample App
    link(rel="stylesheet", type="text/css", href="/styles/msteams-16.css")
    link(rel="stylesheet", type="text/css", href="/styles/custom.css")
    script(src="https://unpkg.com/@microsoft/teams-js@1.5.0/dist/MicrosoftTeams.min.js" crossorigin="anonymous")
    block scripts

  body(class="theme-light")
    div(class="surface")
      div(class="panel")
        block content
