<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deeplink All Features</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            loadFrame();
        });

        var loadFrame = function () {
            var iframe = document.createElement('iframe');
            iframe.setAttribute("id", "iframe");

            var offLineHTMLContent = "";

            var frameElement = document.getElementById("how-to-iframe");

            if (window.navigator.onLine) {
                iframe.src = 'https://docs.botframework.com/static/abs/pages/f5.htm';
                iframe.setAttribute("scrolling", "no");
                iframe.setAttribute("frameborder", "0");
                iframe.setAttribute("width", "100%");
                iframe.setAttribute("height", "100%");

                var frameDiv = document.getElementById("how-to-iframe");
                frameDiv.appendChild(iframe);

            } else {
                frameElement.classList.add("remove-frame-height");
            }
        };
    </script>
</head>

<body>
    <header class="header">
        <div class="header-inner-container">
            <div class="header-icon" style="display: inline-block"></div>
            <div class="header-text" style="display: inline-block">Deeplink All Features</div>
        </div>
    </header>
    <div class="row">
        <div class="main-content-area">
            <div class="content-title">Your App is ready!</div>
            <div class="main-text main-text-p1">
                You can test your app<br />
                by installing the manifest in Teams.
            </div>
        </div>
    </div>
    <div class="ms-logo-container">
        <div class="ms-logo"></div>
    </div>
</body>

</html>