@{
    Layout = "_Layout";
}

<h1 style="color:#6364a5">Hello, world!</h1>


<div>

    Welcome to your new application.<br />

</div>

<div>

    <button type="button" onclick="alert('@ViewBag.Message')" class="appButton">Click Me!</button>

</div>

