@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <section>
        <div id="divSuccess">
            <table id="tableSuccess">
                <tr>
                    <td id="greetingMsg" style="width: 300px">
                    </td>
                    <td>
                        <button onclick="logoutV1()" style="margin-left: 40px;">Sign Out</button>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <input type="radio" name="notificationType" value="Create" onclick="onClick()"> Go to Tab
    </section>
</div>
<script type="text/javascript">

    microsoftTeams.initialize();

    window.onload = function () {
        document.getElementById("greetingMsg").innerHTML = `Welcome ${localStorage.getItem("displayName")}, \n you have successfully signed in...`;
    };

    function logoutV1() {
        localStorage.clear();
        window.location.href = "@Url.Action("ChooseAuth", "Home")";
    }

    function onClick() {
        microsoftTeams.pages.config.setValidityState(true);
    }

    microsoftTeams.app.initialize().then(() => {
        microsoftTeams.pages.config.registerOnSaveHandler(function (saveEvent) {
            var radios = document.getElementsByName('notificationType');

            var eventType = '';
            if (radios[0].checked) {
                eventType = radios[0].value;
            } else {
                eventType = radios[1].value;
            }

            microsoftTeams.pages.config.setConfig({
                entityId: eventType,
                contentUrl: window.location.origin + "/SimpleSetup",
                configName: eventType
            });
            saveEvent.notifySuccess();
        });
    });
</script>