<div class="col-md-8">
    <section>
        <div id="divSuccess">
            <table id="tableSuccess">
                <tr>
                    <td id="greetingMsg">
                    </td>
                    <td>
                        <button onclick="logoutV1()" style="margin-left: 40px;">Sign Out</button>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <input type="radio" name="notificationType" value="Create" onclick="onClick()"> Go to Tab
    </section>
</div>
<script src="@("https://unpkg.com/@microsoft/teams-js@1.3.3/dist/MicrosoftTeams.min.js")"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js" crossorigin="anonymous"></script>
<script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">

    microsoftTeams.initialize();

    window.onload = function () {
        document.getElementById("greetingMsg").innerHTML = `Welcome ${localStorage.getItem("displayName")}, \n you have successfully signed in...`;
    };

    function logoutV1() {
        signOut(window.location.origin + "/Logout");
    }

    function signOut(url) {
        microsoftTeams.authentication.authenticate({
            url: url,
            width: 600,
            height: 535,
            successCallback: function (result) {
                console.log("Logout succeeded: " + result);
                window.location.href = "@Url.Action("SilentConfigureTab", "Home")";
                microsoftTeams.settings.setValidityState(false);
            },
            failureCallback: function (reason) {
                console.log("Logout failed: " + reason);
                handleAuthError(reason);
                window.location.href = "@Url.Action("Failed", "Authentication")";
            }
        });
    }

    

    function onClick() {
        microsoftTeams.settings.setValidityState(true);
    }
    microsoftTeams.initialize();

    microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {
        var radios = document.getElementsByName('notificationType');

        var eventType = '';
        if (radios[0].checked) {
            eventType = radios[0].value;
        } else {
            eventType = radios[1].value;
        }

        microsoftTeams.settings.setSettings({
            entityId: eventType,
            contentUrl: window.location.origin + "/Setup",
            configName: eventType
        });
        saveEvent.notifySuccess();
    });
</script>