<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Graph installation app demo node js</title>
</head>
<body>
    <header class="header">
        <header class="header">
            <div class="header-inner-container">
                <div id="divConfig">
                    <br />
                    <form id="configForm">
                        <input type="radio" name="notificationType" value="Create" onclick="onClick()"> Add App List tab
                    </form>
                </div>
            </div>
        </header>
        <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"></script>
        <script>
            function onClick() {
                microsoftTeams.pages.config.setValidityState(true);
            }
            microsoftTeams.app.initialize().then(() => {
                microsoftTeams.app.notifySuccess();
                microsoftTeams.pages.config.registerOnSaveHandler(function (saveEvent) {
                    var radios = document.getElementsByName('notificationType');
                    microsoftTeams.pages.config.setConfig({
                        entityID: "App Installation Demo",
                        contentUrl: `${window.location.origin}/installedAppsList?tenantId={tid}`,
                        suggestedTabName: "App Installation",
                        websiteUrl: `${window.location.origin}/installedAppsList?tenantId={tid}`,
                    });
                    saveEvent.notifySuccess();
                });
            });
        </script>
</body>
</html>