@page
@model StaggeredPermission.Pages.tabModel
@{
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script
          src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"
          integrity="sha384-QtTBFeFlfRDZBfwHJHYQp7MdLJ2C3sfAEB1Qpy+YblvjavBye+q87TELpTnvlXw4"
          crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 31rem;
            height: 11rem;
            margin-left: 2rem;
            margin-top: 0.5rem;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }

        .container {
            padding: 2px 2px;
            display: flex;
        }

        .profile {
            margin-top: 1rem;
            margin-left: 1rem;
            max-width: 25rem;
            align-content: flex-start;
        }

        .btn-outline-info {
            margin-top: 7rem;
            width: 15.5rem;
            padding: 0.5rem 0rem;
            margin-left: -8rem;
            margin-right: 1.5rem;
            border-radius: 0.6rem;
        }

        .signin-header {
            margin-left: 2rem;
            margin-top: 1rem;
        }

        .card-container-div {
            margin-left: 30%;
            padding-bottom: 2rem;
        }

        #divError {
            margin-left: -9rem;
            margin-top: 8rem;
        }

        td {
            padding: 0.3rem;
        }

        #consent {
            margin-right: 9rem;
        }

        #mail-list-table {
            margin-left: 6rem;
        }
    </style>
    <script>
        let idToken;
        $(document).ready(function () {
            $("#mails").hide();
            getClientSideToken();
        });

        microsoftTeams.app.initialize();

        // Get the id token.
        function getClientSideToken() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.getAuthToken().then((result) => {
                    idToken = result;
                    resolve(result);
                    decodingJWT(result)
                }).catch((error) => {
                    console.log("error" + error);
                    reject("Error getting token: " + error);
                });
            });
        }

        // Request consent on demand.
        function requestConsent(scope) {
            getToken(scope)
                .then(data => {
                    $("#divError").hide();
                    microsoftTeams.app.getContext().then((context) => {
                        if (scope == "User.Read") {
                            getUserPhoto();
                        }
                        else {
                            getUserMail();
                        }
                    });
                });
        }

        // Get token based on staggered permissions.
        function getToken(scope) {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.authenticate({
                    url: window.location.origin + "/auth-start?scope=" + scope,
                    width: 600,
                    height: 535,
                }).then((result) => {
                    resolve(result);
                }).catch((error) => {
                    reject(error);
                });
            });
        }

        // Get user profile pic.
        function getUserPhoto() {
            $.ajax({
                type: 'POST',
                url: '/GetUserPhoto',
                dataType: 'json',
                data: {
                    'idToken': idToken,
                },
                success: function (responseJson) {
                    userDetails = JSON.parse(responseJson);
                    $("#userImgSso").attr("src", userDetails.Photo);
                    $("#consent").hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                }
            });
        }

        // Get user mails.
        function getUserMail() {
                $.ajax({
                    type: 'POST',
                    url: '/GetUserMails',
                    dataType: 'json',
                    data: {
                    'idToken': idToken,
                    },
                    success: function (responseJson) {
                        userDetails = JSON.parse(responseJson);
                        for (let i = 0; i < userDetails.Details.length; i++) {
                            $('#mail-list-table').append(`<tr style="padding:1px" >
                            <td><label id=${i + 1}>${i + 1}</label></td>
                            <td>${userDetails.Details[i].FromMail}</td>
                            <td>${userDetails.Details[i].ToMail}</td>
                            <td>${userDetails.Details[i].Subject}</td>
                            <td>${userDetails.Details[i].Time}</td>
                            </tr>`);
                        };
                        $("#mails").show();
                        $("#getmails").hide();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    }
                });
        }

        // Decode jwt id token to extract user's basic information.
        function decodingJWT(token) {
            $.ajax({
                type: 'POST',
                url: '/decodeToken',
                dataType: 'json',
                data: {
                    'accessToken': token,
                },
                success: function (responseJson) {
                    const userDetails = JSON.parse(responseJson);
                    console.log(JSON.stringify(userDetails));
                    $("#name").append(userDetails.Name);
                    $("#email").append(userDetails.Email);
                    $("#consent").show();
                    $("#getmails").show();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                }
            });
        }
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="card-container-div">
            <div>
                <div class="signin-header"><b>User info</b></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                             alt="Avatar" id="userImgSso" width="100px" height="100px">
                        <div class="profile">
                            <span id="name"><b>Name: </b></span><br>
                            <span id="email"><b>Email: </b></span><br>
                            <span id="work"><b>Work: </b></span>
                        </div>
                        <div id="divError" style="display: none"></div>
                        <button type="button" class="btn-outline-info" onclick="requestConsent('User.Read')"
                                id="consent">
                            Get Photo
                        </button>
                        <button type="button" class="btn-outline-info" onclick="requestConsent('Mail.Read')"
                                id="getmails">
                            Get mails
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="mails">
            <table border="1" id="mail-list-table">
                <thead>
                    <tr>
                        <td>Sr No.</td>
                        <td>From</td>
                        <td>To</td>
                        <td>Subject</td>
                        <td>Received DateTime</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>