<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
        integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        microsoftTeams.initialize();
        function generateQR() {
            var teamId = $("#teamIdInput").val();
            $.ajax({
                url: "https://api.qrserver.com/v1/create-qr-code/?data=" + teamId + "&size=20*20",
                type: "GET",
                cache: false,
                xhr: function () {
                    var xhr = new XMLHttpRequest();
                    xhr.responseType = 'blob'
                    return xhr;
                },
                success: function (response) {
                    var url = window.URL || window.webkitURL;
                    $("#qrImg").attr("src", url.createObjectURL(response));
                    $("#qrImg").removeAttr("hidden");
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                },
            });
        };
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div>
                <label for="teamIdInput">Enter Team Id:</label>
                <input id="teamIdInput" name="fname" type="text" />
                <button onClick="generateQR()">Generate QR</button>
                <img alt="QR Image" id="qrImg" hidden="hidden" />
            </div>
        </div>
    </div>
</body>

</html>