.carousel-container {
    width: 580px !important;
    display: flex;
    flex-direction: column;
    height: 228px !important;
    margin-top: 0.7rem !important;
    @media only screen and (min-width: 1200px) and (max-width: 1300px)
    {
        width: 500px !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1700px)
    {
        width: 620px !important;
    }
    @media only screen and (min-width: 1700px) and (max-width: 1760px)
    {
        width: 650px !important;
    }
    @media only screen and (min-width: 1900px) and (max-width: 2000px)
    {
        width: 780px !important;
    }
    @media only screen and (min-width: 2001px) and (max-width: 3000px)
    {
        width: 1100px !important;
    }
    @media only screen and (min-width: 3001px) and (max-width: 4030px)
    {
        width: 1400px !important;
    }
    @media only screen and (min-width: 1000px) and (max-width: 1200px)
    {
        width: 400px !important;
    }
    @media only screen and (min-width: 800px) and (max-width: 1000px)
    {
        width: 250px !important;
    }
    @media only screen and (min-width: 700px) and (max-width: 800px)
    {
        width: 220px !important;
    }
    @media only screen and (min-width: 600px) and (max-width: 700px)
    {
        width: 220px !important;
    }
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.article-length-margin-left{
    margin-left:2.4rem;
}
.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

.carousel-content.show-5> * {
    width: calc(100% / 5);
}
.carousel-content.show-6> * {
    width: calc(100% / 6);
}
.carousel-content.show-7> * {
    width: calc(100% / 7);
}
.carousel-content.show-8> * {
    width: calc(100% / 8);
}
.carousel-content.show-9> * {
    width: calc(100% / 9);
}
.carousel-content.show-10> * {
    width: calc(100% / 10);
}
.carousel-content.show-11> * {
    width: calc(100% / 11);
}
.carousel-content.show-12> * {
    width: calc(100% / 12);
}
.carousel-content.show-13> * {
    width: calc(100% / 13);
}
.carousel-content.show-14> * {
    width: calc(100% / 14);
}
.carousel-content.show-15> * {
    width: calc(100% / 15);
}
.carousel-content.show-16> * {
    width: calc(100% / 16);
}
.carousel-content.show-17> * {
    width: calc(100% / 17);
}
.carousel-content.show-18> * {
    width: calc(100% / 18);
}
.carousel-content.show-19> * {
    width: calc(100% / 19);
}
.carousel-content.show-20> * {
    width: calc(100% / 20);
}

.default-container .left-arrow{
width: 28px;
height: 28px;

background: rgba(37, 36, 35, 0.65);
.bo{
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
    width: 16px;
height: 16px;

font-family: 'Teams Assets';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Primitive/White */

color: #FFFFFF;
}
.em {
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
}
}
.default-container .right-arrow {
width: 28px;
height: 28px;

background: rgba(37, 36, 35, 0.65);
.bo{
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
    width: 16px;
height: 16px;

font-family: 'Teams Assets';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Primitive/White */

color: #FFFFFF;
}
.em {
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
}
}
.default-container .left-arrowt:hover, .default-container .right-arrow:hover{
    opacity:1;
}

.default-container .left-arrow {
    left: 24px;
    margin-top: 6rem;
}

.default-container .right-arrow {
    right: 24px;
    margin-top: 6rem;
}


.high-contrast-container .left-arrow{
    width: 28px;
    height: 28px;
    
    background: #FFFFFF;
    .bo{
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
        width: 16px;
    height: 16px;
    
    font-family: 'Teams Assets';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    
    /* Primitive/White */
    
    color: black;
    }
    .em {
        margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
    }
    }
    .high-contrast-container .right-arrow {
    width: 28px;
    height: 28px;
    
    background: #FFFFFF;
    .bo{
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
        width: 16px;
    height: 16px;
    
    font-family: 'Teams Assets';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    
    /* Primitive/White */
    
    color: black;
    }
    .em {
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
    }
    }
    .high-contrast-container .left-arrowt:hover, .high-contrast-container .right-arrow:hover{
        opacity:1;
    }
    
    .high-contrast-container .left-arrow {
        left: 24px;
        margin-top: 6rem;
    }
    
    .high-contrast-container .right-arrow {
        right: 24px;
        margin-top: 6rem;
    }

    .dark-container .left-arrow{
        width: 28px;
        height: 28px;
        
        background: #FFFFFF;
        color: #292929;
        .bo{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
            width: 16px;
        height: 16px;
        
        font-family: 'Teams Assets';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */
        
        display: flex;
        align-items: center;
        
        /* Primitive/White */
        
        color: #292929;
        }
        .em {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .bq {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .br{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bs{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bt{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        }
        .dark-container .right-arrow {
        width: 28px;
        height: 28px;
        
        background: #FFFFFF;
        color: #292929;
        .bo{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
            width: 16px;
        height: 16px;
        
        font-family: 'Teams Assets';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */
        
        display: flex;
        align-items: center;
        
        /* Primitive/White */
        
        color: #292929;
        }
        .em {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .bq {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .br{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bs{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bt{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        }
        .dark-container .left-arrowt:hover, .dark-container .right-arrow:hover{
            opacity:1;
        }
        
        .dark-container .left-arrow {
            left: 24px;
            margin-top: 6rem;
        }
        
        .dark-container .right-arrow {
            right: 24px;
            margin-top: 6rem;
        }



@media (hover: none) and (pointer: coarse) {
    .left-arrow, .right-arrow {
        display: none;
    }
}
.trending-card-details-scenario{
 width: 254px !important;
}
.carousel-container-scenario-3{
    width: 830px !important;
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
    @media only screen and (min-width: 1200px) and (max-width: 1300px)
    {
        width: 720px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1700px)
    {
        width: 870px !important;
        margin-left: 0.7rem !important;
    }
    @media only screen and (min-width: 1700px) and (max-width: 1760px)
    {
        width: 950px !important;
        margin-left: 0.9rem !important;
    }
}
.carousel-container-scenario-2{
    width: 550px !important;
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
    @media only screen and (min-width: 1200px) and (max-width: 1300px)
    {
        width: 480px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1700px)
    {
        width: 600px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1700px) and (max-width: 1760px)
    {
        width: 660px !important;
        margin-left: 0.9rem !important;
    }
}
.carousel-container-scenario-4{
    width: 1080px !important;
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
    @media only screen and (min-width: 1200px) and (max-width: 1300px)
    {
        width: 960px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1700px)
    {
        width: 1170px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1700px) and (max-width: 1760px)
    {
        width: 1270px !important;
        margin-left: 0.9rem !important;
    }
}

.default-container .carousel-container-scenario {
    width: 1350px !important;
    display: flex;
    flex-direction: column;
    margin-left: 0.9rem !important;
    @media only screen and (min-width: 1200px) and (max-width: 1249px)
    {
        width: 1000px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1251px) and (max-width: 1299px)
    {
        width: 1217px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1300px) and (max-width: 1450px)
    {
        width: 1250px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1451px) and (max-width: 1550px)
    {
        width: 1170px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1451px) and (max-width: 1449px)
    {
        width: 1170px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1500px) and (max-width: 1550px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1551px) and (max-width: 1599px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1699px)
    {
        width: 1490px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1700px) and (max-width: 1750px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1751px) and (max-width: 1799px)
    {
        width: 1690px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1800px) and (max-width: 1899px)
    {
        width: 1750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1900px) and (max-width: 2000px)
    {
        width: 1750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 2001px) and (max-width: 2199px)
    {
        width: 2000px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 2220px) and (max-width: 3000px)
    {
        width: 2480px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 3001px) and (max-width: 4031px)
    {
        width: 3600px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1100px) and (max-width: 1199px)
    {
        width: 990px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1000px) and (max-width: 1099px)
    {
        width: 990px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 800px) and (max-width: 900px)
    {
        width: 770px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 653px) and (max-width: 699px)
    {
        width: 520px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 700px) and (max-width: 750px)
    {
        width: 530px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 751px) and (max-width: 770px)
    {
        width: 730px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 771px) and (max-width: 787px)
    {
        width: 600px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 788px) and (max-width: 800px)
    {
        width: 740px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 900px) and (max-width: 949px)
    {
        width: 760px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 950px) and (max-width: 999px)
    {
        width: 750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 200px) and (max-width: 652px)
    {
        width: 280px !important;
        margin-left: 0.9rem !important;
    }
}
.high-contrast-container .carousel-container-scenario {
    width: 1350px !important;
    display: flex;
    flex-direction: column;
    margin-left: 0.9rem !important;
    @media only screen and (min-width: 1200px) and (max-width: 1249px)
    {
        width: 1000px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1251px) and (max-width: 1299px)
    {
        width: 1217px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1300px) and (max-width: 1450px)
    {
        width: 1250px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1451px) and (max-width: 1550px)
    {
        width: 1170px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1451px) and (max-width: 1449px)
    {
        width: 1170px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1500px) and (max-width: 1550px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1551px) and (max-width: 1599px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1699px)
    {
        width: 1490px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1700px) and (max-width: 1750px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1751px) and (max-width: 1799px)
    {
        width: 1690px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1800px) and (max-width: 1899px)
    {
        width: 1750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1900px) and (max-width: 2000px)
    {
        width: 1750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 2001px) and (max-width: 2199px)
    {
        width: 2000px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 2220px) and (max-width: 3000px)
    {
        width: 2480px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 3001px) and (max-width: 4031px)
    {
        width: 3600px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1100px) and (max-width: 1199px)
    {
        width: 990px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1000px) and (max-width: 1099px)
    {
        width: 990px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 800px) and (max-width: 900px)
    {
        width: 770px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 653px) and (max-width: 699px)
    {
        width: 520px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 700px) and (max-width: 750px)
    {
        width: 530px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 751px) and (max-width: 770px)
    {
        width: 730px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 771px) and (max-width: 787px)
    {
        width: 600px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 788px) and (max-width: 800px)
    {
        width: 740px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 900px) and (max-width: 949px)
    {
        width: 760px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 950px) and (max-width: 999px)
    {
        width: 750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 200px) and (max-width: 652px)
    {
        width: 280px !important;
        margin-left: 0.9rem !important;
    }
}
.dark-container .carousel-container-scenario {
    width: 1350px !important;
    display: flex;
    flex-direction: column;
    margin-left: 0.9rem !important;
    @media only screen and (min-width: 1200px) and (max-width: 1249px)
    {
        width: 1000px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1251px) and (max-width: 1299px)
    {
        width: 1217px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1300px) and (max-width: 1450px)
    {
        width: 1250px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1451px) and (max-width: 1550px)
    {
        width: 1170px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1451px) and (max-width: 1449px)
    {
        width: 1170px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1500px) and (max-width: 1550px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1551px) and (max-width: 1599px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1699px)
    {
        width: 1490px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1700px) and (max-width: 1750px)
    {
        width: 1400px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1751px) and (max-width: 1799px)
    {
        width: 1690px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1800px) and (max-width: 1899px)
    {
        width: 1750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1900px) and (max-width: 2000px)
    {
        width: 1750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 2001px) and (max-width: 2199px)
    {
        width: 2000px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 2220px) and (max-width: 3000px)
    {
        width: 2480px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 3001px) and (max-width: 4031px)
    {
        width: 3600px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1100px) and (max-width: 1199px)
    {
        width: 990px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 1000px) and (max-width: 1099px)
    {
        width: 990px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 800px) and (max-width: 900px)
    {
        width: 770px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 653px) and (max-width: 699px)
    {
        width: 520px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 700px) and (max-width: 750px)
    {
        width: 530px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 751px) and (max-width: 770px)
    {
        width: 730px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 771px) and (max-width: 787px)
    {
        width: 600px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 788px) and (max-width: 800px)
    {
        width: 740px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 900px) and (max-width: 949px)
    {
        width: 760px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 950px) and (max-width: 999px)
    {
        width: 750px !important;
        margin-left: 0.9rem !important;
    }
    @media only screen and (min-width: 200px) and (max-width: 652px)
    {
        width: 280px !important;
        margin-left: 0.9rem !important;
    }
}

.carousel-wrapper-scenario {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper-scenario {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}

.carousel-content-scenario {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content-scenario::-webkit-scrollbar, .carousel-content-scenario::-webkit-scrollbar {
    display: none;
}

.carousel-content-scenario > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-scenario-2 > * {
    width: 50%;
}

.carousel-content.show-scenario-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-scenario-4 > * {
    width: calc(100% / 4);
}
.carousel-content.show-scenario-5> * {
    width: calc(100% / 5);
}
.carousel-content.show-scenario-6> * {
    width: calc(100% / 6);
}
.carousel-content.show-scenario-7> * {
    width: calc(100% / 7);
}
.carousel-content.show-scenario-8> * {
    width: calc(100% / 8);
}
.carousel-content.show-scenario-9> * {
    width: calc(100% / 9);
}
.carousel-content.show-scenario-10> * {
    width: calc(100% / 10);
}
.carousel-content.show-scenario-11> * {
    width: calc(100% / 11);
}
.carousel-content.show-scenario-12> * {
    width: calc(100% / 12);
}
.carousel-content.show-scenario-13> * {
    width: calc(100% / 13);
}
.carousel-content.show-scenario-14> * {
    width: calc(100% / 14);
}
.carousel-content.show-scenario-15> * {
    width: calc(100% / 15);
}
.carousel-content.show-scenario-16> * {
    width: calc(100% / 16);
}
.carousel-content.show-scenario-17> * {
    width: calc(100% / 17);
}

.default-container .left-arrow-scenario{
width: 28px;
height: 28px;

background: rgba(37, 36, 35, 0.65);
.bo{
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
    width: 16px;
height: 16px;

font-family: 'Teams Assets';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Primitive/White */

color: #FFFFFF;
}
.em {
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
}
} 
.default-container .right-arrow-scenario {
width: 28px;
height: 28px;

background: rgba(37, 36, 35, 0.65);
.bo{
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
    width: 16px;
height: 16px;

font-family: 'Teams Assets';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Primitive/White */

color: #FFFFFF;
}
.em {
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
}
}
.left-arrow-scenario:hover, .right-arrow-scenario:hover{
    opacity:1;
}

.default-container .left-arrow-scenario {
    left: 24px;
    margin-top: 6rem;
}

.default-container .right-arrow-scenario {
    right: 24px;
    margin-top: 6rem;
}

.high-contrast-container .left-arrow-scenario{
    width: 28px;
    height: 28px;
    
    background: #FFFFFF;
    .bo{
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
        width: 16px;
    height: 16px;
    
    font-family: 'Teams Assets';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    
    /* Primitive/White */
    
    color: black;
    }
    .em {
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
    }
    } 
    .high-contrast-container .right-arrow-scenario {
    width: 28px;
    height: 28px;
    
    background: #FFFFFF;
    .bo{
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
        width: 16px;
    height: 16px;
    
    font-family: 'Teams Assets';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    
    /* Primitive/White */
    
    color: black;
    }
    .em {
        margin-left: 0.5rem !important;
        margin-top: 0.5rem !important;
    }
    }
    .left-arrow-scenario:hover, .right-arrow-scenario:hover{
        opacity:1;
    }
    
    .high-contrast-container .left-arrow-scenario {
        left: 24px;
        margin-top: 6rem;
    }
    
    .high-contrast-container .right-arrow-scenario {
        right: 24px;
        margin-top: 6rem;
    }

    .dark-container .left-arrow-scenario{
        width: 28px;
        height: 28px;
        
        background: #FFFFFF;
        color: #292929;
        .bo{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
            width: 16px;
        height: 16px;
        
        font-family: 'Teams Assets';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */
        
        display: flex;
        align-items: center;
        
        /* Primitive/White */
        
        color: #292929;
        }
        .em {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .bq {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .br{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bs{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bt{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        } 
        .dark-container .right-arrow-scenario {
        width: 28px;
        height: 28px;
        
        background: #FFFFFF;
        color: #292929;
        .bo{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
            width: 16px;
        height: 16px;
        
        font-family: 'Teams Assets';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */
        
        display: flex;
        align-items: center;
        
        /* Primitive/White */
        
        color: #292929;
        }
        .em {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .bq {
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        .br{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bs{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        } 
        .bt{
            margin-left: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        }
        .left-arrow-scenario:hover, .right-arrow-scenario:hover{
            opacity:1;
        }
        
        .dark-container .left-arrow-scenario {
            left: 24px;
            margin-top: 6rem;
        }
        
        .dark-container .right-arrow-scenario {
            right: 24px;
            margin-top: 6rem;
        }


@media (hover: none) and (pointer: coarse) {
    .left-arrow-scenario, .right-arrow-scenario {
        display: none;
    }
}