.default-container .maine-page-container {
    width: 99.2% !important;
    height: 100%;
    background: #f5f5f5;

    @media only screen and (min-width: 1100px) and (max-width: 1175px) {
        width: 99% !important;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1026px) {
        width: 99% !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 845px) {
        width: 98.5% !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 715px) {
        width: 98% !important;
    }
}

.dark-container .maine-page-container {
    width: 99.2%;
    height: 100%;
    background: #292929;

    @media only screen and (min-width: 1100px) and (max-width: 1175px) {
        width: 99% !important;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1026px) {
        width: 99% !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 845px) {
        width: 98.5% !important;
    }

    @media only screen and (min-width: 900px) and (max-width: 999px) {
        width: 98.5% !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 715px) {
        width: 98% !important;
    }
}

.high-contrast-container .maine-page-container {
    width: 99.2%;
    height: 100%;
    background: black;

    @media only screen and (min-width: 1100px) and (max-width: 1175px) {
        width: 99% !important;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1026px) {
        width: 99% !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 845px) {
        width: 98.5% !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 715px) {
        width: 98% !important;
    }
}

.high-contrast-container .sub-page-container {
    height: 510px !important;
    width: 100%;
    background-repeat: no-repeat;
    background: black;
    background-color: black;

    @media only screen and (min-width: 1100px) and (max-width: 1175px) {
        height: 455px !important;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1026px) {
        height: 385px !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 845px) {
        height: 295px !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 715px) {
        height: 230px !important;
    }

    @media only screen and (min-width: 1300px) and (max-width: 1450px) {
        height: 590px !important;
    }

    @media only screen and (min-width: 1451px) and (max-width: 1640px) {
        height: 680px !important;
    }

    @media only screen and (min-width: 1641px) and (max-width: 1754px) {
        height: 750px !important;
    }

    @media only screen and (min-width: 1755px) and (max-width: 1983px) {
        height: 850px !important;
    }
}

.dark-container .sub-page-container {
    height: 510px !important;
    width: 100%;
    background-repeat: no-repeat;
    background: #292929;
    background-color: #292929;

    @media only screen and (min-width: 1100px) and (max-width: 1175px) {
        height: 455px !important;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1026px) {
        height: 385px !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 845px) {
        height: 295px !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 715px) {
        height: 230px !important;
    }

    @media only screen and (min-width: 1300px) and (max-width: 1450px) {
        height: 590px !important;
    }

    @media only screen and (min-width: 1451px) and (max-width: 1640px) {
        height: 680px !important;
    }

    @media only screen and (min-width: 1641px) and (max-width: 1754px) {
        height: 750px !important;
    }

    @media only screen and (min-width: 1755px) and (max-width: 1983px) {
        height: 850px !important;
    }
}

.default-container .sub-page-container {
    height: 510px !important;
    width: 100%;
    background-repeat: no-repeat;
    background: #f5f5f5;
    background-color: #f5f5f5;

    @media only screen and (min-width: 1100px) and (max-width: 1175px) {
        height: 455px !important;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1026px) {
        height: 385px !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 845px) {
        height: 295px !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 715px) {
        height: 230px !important;
    }

    @media only screen and (min-width: 1300px) and (max-width: 1450px) {
        height: 590px !important;
    }

    @media only screen and (min-width: 1451px) and (max-width: 1640px) {
        height: 680px !important;
    }

    @media only screen and (min-width: 1641px) and (max-width: 1754px) {
        height: 750px !important;
    }

    @media only screen and (min-width: 1755px) and (max-width: 1983px) {
        height: 850px !important;
    }
}

.default-container .home-nav-bar-container {
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07), 0px 1.6px 3.6px rgba(0, 0, 0, 0.11);
    background-color: #F5F5F5;
}

.dark-container .home-nav-bar-container {
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-shadow: 0px -1px 16px 0px #F5F5F5;
    background-color: #292929;
}

.overlapping-CardDetails {
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}

.high-contrast-container .home-nav-bar-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 3rem;
    box-shadow: 0px -1px 16px 0px #F5F5F5;
    background-color: black;
}

.default-container .card-grid-tileScenario {
    height: 170px;
    border-radius: 6px;
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-left: 0rem !important;
    padding-bottom: 0% !important;
}

.default-container .card-Grid-SubtitleScenario {
    width: 220px !important;
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-bottom: 0% !important;
    padding-left: 0% !important;
    background: #FFFFFF;
    border-radius: 6px;
}

.high-contrast-container .card-grid-tileScenario {
    height: 170px;
    border-radius: 6px;
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-left: 0rem !important;
    padding-bottom: 0% !important;
}

.high-contrast-container .card-Grid-SubtitleScenario {
    width: 220px !important;
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-bottom: 0% !important;
    padding-left: 0% !important;
    background: black;
    box-shadow: 0px 0.3px 0.9px #FFFFFF, 0px 1.6px 3.6px #FFFFFF;
    border-radius: 6px;
    border: 1px solid;
}

.dark-container .card-grid-tileScenario {
    height: 170px;
    border-radius: 6px;
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-left: 0rem !important;
    padding-bottom: 0% !important;
}

.dark-container .card-Grid-SubtitleScenario {
    width: 220px !important;
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-bottom: 0% !important;
    padding-left: 0% !important;
    background: #292929;
    box-shadow: 0px 0.3px 0.9px #FFFFFF, 0px 1.6px 3.6px #FFFFFF;
    border-radius: 6px;
    border: 1px solid;
}


.card-grid-tileTrending {
    width: 410px;
    height: 250px;
    border-radius: 8%;
}

.card-grid-tile {
    padding-right: 0px !important;
    padding-top: 0.1rem !important;
}

.grid-Class-trending {
    position: relative;
    bottom: 1rem !important;
}

.card-grid-tile-Trending {
    height: 185px;
    border-radius: 6px;
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-left: 1.2rem !important;
    padding-bottom: 3% !important;
}

.card-Grid-Subtitle-Trending {
    padding-right: 0px !important;
    padding-top: 0rem !important;
    padding-bottom: 0% !important;
    padding-left: 0% !important;
    background-color: #FFFFFF;
}

.nav-bar-feedback {
    margin-right: 2rem;
}

.getting-started-header {
    margin-top: 1rem;
    margin-left: 1rem;
}

.getting-started-headerText {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.ui-Input-Text {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #616161;
}

.default-container .intro-To-Teams {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;

    .cx > :not(:last-child) {
        margin-bottom: 0rem !important;
    }
}

.carousel-item {
    margin-top: 1rem !important;
}

.dark-container .intro-To-Teams {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
    margin-top:-0.5rem;
}

.high-contrast-container .intro-To-Teams {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.default-container .card-title {
    font-family: "Segoe UI";
    font-style: "Bold";
    font-weight: "bold";
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
}

.dark-container .card-title {
    font-family: "Segoe UI";
    font-style: "Bold";
    font-weight: "bold";
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.high-contrast-container .card-title {
    font-family: "Segoe UI";
    font-style: "Bold";
    font-weight: "bold";
    font-size: 12px;
    line-height: 20px;
}

.dark-container .card-title {
    font-family: "Segoe UI";
    font-style: "Bold";
    font-weight: "bold";
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.high-contrast-container .card-title {
    font-family: "Segoe UI";
    font-style: "Bold";
    font-weight: "bold";
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.default-container .getting-started-bar-container {
    height: 24rem;
    width: 98.4%;
    background: #f5f5f5;
    margin-left: 2rem;
    margin-top: 4.6rem;

    .getting-started-item {
        background: url("../../../public/images/Rectangle 3468051.png") no-repeat fixed;
        border-radius: 5px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .getting-started-carousel {
        border-radius: 5px;
        padding-top: 0% !important;
    }

    .getting-started-text {
        margin-top: 7.5rem;
        margin-left: 1.5rem;
        width: 93%;
    }
}

.dark-container .getting-started-bar-container {
    height: 24rem;
    width: 98.4%;
    background: #292929;
    margin-left: 2rem;
    margin-top: 4.6rem;

    .getting-started-item {
        background: url("../../../public/images/Rectangle 3468051.png") no-repeat fixed;
        border-radius: 5px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .getting-started-carousel {
        border-radius: 5px;
    }

    .getting-started-text {
        margin-top: 5rem;
    }
}

.high-contrast-container .getting-started-bar-container {
    height: 24rem;
    width: 98.4%;
    background: black;
    margin-left: 2rem;
    margin-top: 4.6rem;

    .getting-started-item {
        background: url("../../../public/images/Rectangle 3468051.png") no-repeat fixed;
        border-radius: 5px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .getting-started-carousel {
        border-radius: 5px;
    }

    .getting-started-text {
        margin-top: 5rem;
    }
}

.default-container .trending-topic-container {
    overflow-x: hidden;
    color: black;
    background: #f5f5f5;
    width: 98.4%;
    margin-top: 1rem;
}

.dark-container .trending-topic-container {
    overflow-x: hidden;
    color: #f5f5f5;
    background: #292929;
    width: 98.4%;
    margin-top: 1rem;
}

.high-contrast-container .trending-topic-container {
    overflow-x: hidden;
    color: #f5f5f5;
    background: black;
    width: 98.4%;
    margin-top: 1rem;
}

.trending-card-details {
    width: 28rem !important;
    position: absolute;
    height: 18rem !important;
    padding: 0rem !important;
    border-radius: 0.7rem !important;
    background-color: #fff !important;
    ;
    box-shadow: 0 2px 4px 0 #fff !important;
    height: 200px !important;

    .ms-FocusZone {
        height: "22px" !important;
    }
}

.default-container .trending-card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;

    .ui-button__content {
        margin-left: 0.6rem !important;
        padding-top: 1rem !important;
    }
}

.dark-container .trending-card-title {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;

    .ui-button__content {
        margin-left: 0.6rem !important;
        padding-top: 1rem !important;
    }
}

.high-contrast-container .trending-card-title {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;

    .ui-button__content {
        margin-left: 0.6rem !important;
        padding-top: 1rem !important;
    }
}

.default-container .trending-card-title-carousel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;
    padding-bottom: 0.5rem !important;

    .ui-button__content {
        padding-top: 1rem !important;
    }
}

.dark-container .trending-card-title-carousel {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;
    padding-bottom: 0.5rem !important;

    .ui-button__content {
        padding-top: 1rem !important;
    }
}

.high-contrast-container .trending-card-title-carousel {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;
    padding-bottom: 0.5rem !important;

    .ui-button__content {
        padding-top: 1rem !important;
    }
}

.default-container .Content-trending-card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
}

.default-container .Content-trending-card-title-Carousel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
}

.default-container .Content-trending-card-title-Scenario {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
}

.dark-container .Content-trending-card-title {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.dark-container .Content-trending-card-title-Scenario {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #f5f5f5;
    width: 170px;
}

.dark-container .Content-trending-card-title-Carousel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #f5f5f5;
    width: 135px;
}

.high-contrast-container .Content-trending-card-title {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.high-contrast-container .Content-trending-card-title-Carousel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #f5f5f5;
    width: 135px;
}

.high-contrast-container .Content-trending-card-title-Scenario {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #f5f5f5;
    width: 170px;
}

.spanthreeDot {
    height: 10px !important;
    padding-bottom: 0.5rem !important;

    .ui-menu__item {
        padding-top: 1rem !important;
    }
}


.default-container .trending-card-title-scenario {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;

    .ui-button__content {
        margin-left: 0.6rem !important;
        padding-top: 1rem !important;
    }
}

.dark-container .trending-card-title-scenario {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;

    .ui-button__content {
        margin-left: 0.6rem !important;
        padding-top: 1rem !important;
    }
}

.high-contrast-container .trending-card-title-scenario {
    color: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    min-width: 0rem !important;

    .ui-button__content {
        margin-left: 0.6rem !important;
        padding-top: 1rem !important;
    }
}

.default-container .trending-card-desc-Carousel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 1 (#424242) */

    color: #424242;
    margin-left: 0.2rem;
    padding-bottom: 0.5rem !important;
}

.dark-container .trending-card-desc-Carousel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    margin-left: 0.2rem;
    padding-bottom: 0.5rem !important;
}

.high-contrast-container .trending-card-desc-Carousel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    margin-left: 0.2rem;
    padding-bottom: 0.5rem !important;
}

.default-container .trending-card-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 1 (#424242) */
    color: #424242;
    margin-left: 0.8rem;
}

.dark-container .trending-card-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    margin-left: 0.8rem;
}

.high-contrast-container .trending-card-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    margin-left: 0.8rem;
}

.default-container .popular-text {
    background: #FFFFFF;
    height: 22px;
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.11), 0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    width: 8rem;
    text-align: center;
    margin-top: -1rem;
    margin-left: 1rem;
    color: #616161;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    padding-top: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dark-container .popular-text {
    background: #FFFFFF;
    height: 22px;
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.11), 0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    background-color: #f5f5f5;
    width: 8rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: -1rem;
    margin-left: 1rem;
    color: #201F1F;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    padding-top: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.high-contrast-container .popular-text {
    background: #FFFFFF;
    height: 22px;
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.11), 0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    width: 8rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: -1rem;
    margin-left: 1rem;
    color: black;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    padding-top: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.default-container .main-page {
    background: #f5f5f5;
}

.dark-container .main-page {
    background: #292929;
}

.high-contrast-container .main-page {
    background: black;
}

.default-container .appContainer {
    background: #f5f5f5 !important;
}

.dark-container .appContainer {
    background: #292929 !important;
    ;
}

.high-contrast-container .appContainer {
    background: black !important;
    ;
}

// carousel card
.card-image-details {
    height: 12rem !important;
    border-radius: 6px 6px 0px 0px;
}

// carousel card
.card-image-details-Carousel {
    height: 11rem !important;
    border-radius: 6px 6px 0px 0px;
    margin-top: "1rem";
    width: 160px !important;

    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        width: 140px !important;
    }
}

// carousel card
.default-container .card-image-details-scenario {
    height: 11rem !important;
    border-radius: 6px 6px 0px 0px;
    margin-top: "1rem";
    width: 220px !important;
}

.dark-container .card-image-details-scenario {
    height: 11rem !important;
    border-radius: 6px 6px 0px 0px;
    margin-top: "1rem";
    width: "220px" !important;
}

.high-contrast-container .card-image-details-scenario {
    height: 11rem !important;
    border-radius: 6px 6px 0px 0px;
    margin-top: "1rem";
    width: "220px" !important;
}

.default-container .card-Span-scenario {
    width: "220px" !important;
}

.dark-container .card-Span-scenario {
    width: "220px" !important;
}

.high-contrast-container .card-Span-scenario {
    width: "220px" !important;
}

.card-Span {
    width: "135px" !important;

    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        width: "115px" !important;
    }
}

.carousel-card-details {
    background-color: #fff !important;
    height: 18rem !important;
    padding: 0rem !important;
    margin-top: -3rem !important;
    margin-right: 8rem;
}

.default-container .scenario-container {
    overflow-y: hidden;
    overflow-x: hidden;
    background: #f5f5f5;
    width: 98.4%;
    margin-left: "1.3rem" !important;
    margin-top: 1rem !important;
}

.dark-container .scenario-container {
    overflow-y: hidden;
    overflow-x: hidden;
    background: #292929;
    width: 98.4%;
    margin-left: "1.3rem" !important;
    margin-top: 1rem !important;
}

.high-contrast-container .scenario-container {
    overflow-y: hidden;
    overflow-x: hidden;
    background: black;
    width: 98.4%;
    margin-left: "1.3rem" !important;
    margin-top: 1rem !important;
}

.default-container .ui-card__body {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -1.37%;
    background: #ffffff;
    border-radius: 6px;
}

.dark-container .ui-card__body {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -1.37%;
    border-radius: 6px;
    background: #292929;
}

.high-contrast-container .ui-card__body {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -1.37%;
    border-radius: 6px;
    background: black;
}

.default-container .ui-Card_Text {
    margin-left: 1.4rem;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #242424;
}

.dark-container .ui-Card_Text {
    margin-left: 1.4rem;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.high-contrast-container .ui-Card_Text {
    margin-left: 1.4rem;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.scenario-segment {
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 5px !important;
}

.search-view-breadcrum-text {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.default-container .homeText {
    width: 38px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #424242;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.dark-container .homeText {
    width: 38px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #f5f5f5;
}

.high-contrast-container .homeText {
    width: 38px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #f5f5f5;
}

.default-container .feedbackText {
    width: 59px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424242;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right:1.5rem;
}

.dark-container .feedbackText {
    width: 59px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f5f5f5;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: 1.5rem;
}

.high-contrast-container .feedbackText {
    width: 59px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f5f5f5;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: 1.5rem;
}

.default-container .switchUser {
    width: 100px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #424242;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.dark-container .switchUser {
    width: 100px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #f5f5f5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.high-contrast-container .switchUser {
    width: 100px;
    height: 19px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #f5f5f5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.default-container .stepsText {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424242;
}

.dark-container .stepsText {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f5f5f5;
}

.high-contrast-container .stepsText {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f5f5f5;
}

.default-container .completed {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 1 (#424242) */

    color: #424242;
}

.dark-container .completed {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 1 (#424242) */
    color: #f5f5f5;
}

.high-contrast-container .completed {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 1 (#424242) */
    color: #f5f5f5;
}

/*Mobile*/
.main-div-mobile {
    overflow-y: scroll;
    margin-top: 4rem;
    width: -webkit-fill-available !important;
}

.scenario-container-mobile {
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    display: grid;
}

.default-container .home-nav-bar-mobile-container {
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07), 0px 1.6px 3.6px rgba(0, 0, 0, 0.11);
    background-color: #F5F5F5;
}

.dark-container .home-nav-bar-mobile-container {
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-shadow: 0px -1px 16px 0px #F5F5F5;
    background-color: #292929;
}

.high-contrast-container .home-nav-bar-mobile-container {
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 3rem;
    box-shadow: 0px -1px 16px 0px #F5F5F5;
    background-color: black;
}

.trending-topic-container-mobile {
    display: grid;
}

.pading-top-div-mobile {
    padding-top: 0.5rem;
    border-radius: 6px !important;
}

.learingPath-label {
    width: inherit;
    padding: 1.5rem !important;
}

.learrning-path-inside-div {
    padding-left: 10.5rem;
}

.main-page main-div-mobile {
    width: -webkit-fill-available!important;
}

.getting-started-bar-container-mobile {
    margin-left: 1rem !important;
    margin-right: 1rem !important;

    .getting-started-item {
        background: url("../../../public/images/Rectangle 3468051.png") no-repeat fixed;
        border-radius: 5px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .getting-started-carousel {
        border-radius: 5px;
    }

    .getting-started-text {
        margin-top: 0rem;
    }
}

.default-container .getting-started-item-container {
    background: #f5f5f5;
}

.dark-container .getting-started-item-container {
    background: #292929;
}

.high-contrast-container .getting-started-item-container {
    background: black;
}


.quickstart-item-container {
    background: #f5f5f5;
    border-radius: 6px;

    .cx > :not(:last-child) {
        margin-bottom: 0rem !important;
    }
}

.learning-path-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.learning-path-segment {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.learning-path-img {
    padding-left: 2rem;
}

.chevron-icon-path {
    padding-left: 20rem;
}

.dark-container .main-div-mobile .ui-Card_Text {
    color: #FFFFFF
}

.default-container .sliderClass {
    margin-left: 0rem !important;
    width: 100% !important;
    background: #FFFFFF !important;

    .ui-slider__input-wrapper {
        width: 100% !important;

        .jr {
            width: 100% !important;
        }
    }

    .ui-slider__rail {
        margin-top: 0% !important;
        height: 1rem !important;
    }

    .ui-slider__track {
        margin-top: 0rem !important;
        height: 1rem !important;
        background: #5b5fc7 !important;
        border-radius: 100px !important;
    }

    .ui-slider__thumb {
        visibility: hidden !important;
    }
}

.dark-container .sliderClass {
    margin-left: 0rem !important;
    width: 100% !important;
    background: #292929 !important;

    .ui-slider__input-wrapper {
        width: 100% !important;

        .jr {
            width: 100% !important;
        }
    }

    .ui-slider__rail {
        margin-top: 0% !important;
        height: 1rem !important;
    }

    .ui-slider__track {
        margin-top: 0rem !important;
        height: 1rem !important;
        background: #5b5fc7 !important;
        border-radius: 100px !important;
    }

    .ui-slider__thumb {
        visibility: hidden !important;
    }
}

.high-contrast-container .sliderClass {
    margin-left: 0rem !important;
    width: 100% !important;
    background: black !important;

    .ui-slider__input-wrapper {
        width: 100% !important;

        .jr {
            width: 100% !important;
        }
    }

    .ui-slider__rail {
        margin-top: 0% !important;
        height: 1rem !important;
    }

    .ui-slider__track {
        margin-top: 0rem !important;
        height: 1rem !important;
        background: #5b5fc7 !important;
        border-radius: 100px !important;
    }

    .ui-slider__thumb {
        visibility: hidden !important;
    }
}

.sliderDeskTopClass {
    margin-left: 1rem !important;

    .ui-slider__input-wrapper {
        width: 19rem !important;

        .jr {
            width: 19rem !important;
        }
    }

    @media only screen and (min-width: 1000px) and (max-width: 3000px) {
        .ui-slider__input-wrapper {
            width: 17rem !important;

            .jr {
                width: 17rem !important;
            }
        }
    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {
        .ui-slider__input-wrapper {
            width: 16rem !important;

            .jr {
                width: 16rem !important;
            }
        }
    }

    @media only screen and (min-width: 700px) and (max-width: 800px) {
        .ui-slider__input-wrapper {
            width: 15rem !important;

            .jr {
                width: 15rem !important;
            }
        }
    }

    @media only screen and (min-width: 200px) and (max-width: 699px) {
        .ui-slider__input-wrapper {
            width: 16rem !important;

            .jr {
                width: 16rem !important;
            }
        }
    }

    .ui-slider__rail {
        margin-top: 0rem !important;
        height: 1rem !important;
    }

    .ui-slider__track {
        margin-top: 0rem !important;
        height: 1rem !important;
        background: rgb(225, 223, 221);
        border-radius: 100px !important;
    }

    .je {
        height: 1rem !important;
        margin-top: 0% !important;
    }

    .ui-slider__thumb {
        visibility: hidden !important;
    }
}

.sliderDeskTopClassColor {
    margin-left: 1rem !important;
    width: 19rem !important;

    .ui-slider__input-wrapper {
        width: 19rem !important;

        .jr {
            width: 19rem !important;
        }
    }

    @media only screen and (min-width: 1000px) and (max-width: 3000px) {
        .ui-slider__input-wrapper {
            width: 17rem !important;

            .jr {
                width: 17rem !important;
            }
        }
    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {
        .ui-slider__input-wrapper {
            width: 16rem !important;

            .jr {
                width: 16rem !important;
            }
        }
    }

    @media only screen and (min-width: 700px) and (max-width: 800px) {
        .ui-slider__input-wrapper {
            width: 15rem !important;

            .jr {
                width: 15rem !important;
            }
        }
    }

    @media only screen and (min-width: 200px) and (max-width: 699px) {
        .ui-slider__input-wrapper {
            width: 16rem !important;

            .jr {
                width: 16rem !important;
            }
        }
    }

    .ui-slider__rail {
        margin-top: 0rem !important;
        height: 1rem !important;
    }

    .ui-slider__track {
        margin-top: 0rem !important;
        height: 1rem !important;
        background: #5b5fc7 !important;
        border-radius: 100px !important;
    }

    .je {
        height: 1rem !important;
        margin-top: 0% !important;
    }

    .ui-slider__thumb {
        visibility: hidden !important;
    }
}

.default-container .checkBoxClass {
    margin-left: 0.5rem;

    .ui-checkbox__indicator {
        margin-top: 1.1rem !important;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        align-items: center;
        color: #616161;
        font-size: 12px !important;
        width: 12px;
        height: 12px;
    }

    .oq {
        grid-column: 2 / auto !important;
    }

    .ui-button {
        min-width: 0rem !important;
    }

    .ui-checkbox {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .ui-checkbox__label {
        grid-column: 2 / auto !important;
    }

    .ui-button__content {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        overflow: visible !important;
        /* 🌕 Light theme/Rest/Foreground/Default Foreground 2 */
        color: #616161;
    }
}

.dark-container .checkBoxClass {
    margin-left: 0.5rem;

    .ui-checkbox__indicator {
        margin-top: 1.1rem !important;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        align-items: center;
        color: #FFFFFF;
        font-size: 12px !important;
        width: 12px;
        height: 12px;
    }

    .oq {
        grid-column: 2 / auto !important;
    }

    .ui-button {
        min-width: 0rem !important;
    }

    .ui-checkbox {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .ui-checkbox__label {
        grid-column: 2 / auto !important;
    }

    .ui-button__content {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        overflow: visible !important;
        /* 🌕 Light theme/Rest/Foreground/Default Foreground 2 */
        color: #FFFFFF;
    }
}

.high-contrast-container .checkBoxClass {
    margin-left: 0.5rem;

    .ui-checkbox__indicator {
        margin-top: 1.1rem !important;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        align-items: center;
        color: #FFFFFF;
        font-size: 12px !important;
        width: 12px;
        height: 12px;
    }

    .oq {
        grid-column: 2 / auto !important;
    }

    .ui-button {
        min-width: 0rem !important;
    }

    .ui-checkbox {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .ui-checkbox__label {
        grid-column: 2 / auto !important;
    }

    .ui-button__content {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        overflow: visible !important;
        /* 🌕 Light theme/Rest/Foreground/Default Foreground 2 */

        color: #FFFFFF;
    }
}

.checkBoxDashboard {
    background: #FFFFFF;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 2 */
    color: #616161;
}

.default-container .ui-Card_Text-Mobile {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #242424;
}

.dark-container .ui-Card_Text-Mobile {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.high-contrast-container .ui-Card_Text-Mobile {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.getting-started-QuickstartChecklist {
    border-radius: 5px !important;
    flex-basis: 22% !important;
    background: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0% !important;
    width: 200px !important;

    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        flex-basis: 25% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1700px) {
        flex-basis: 18% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 1700px) and (max-width: 1800px) {
        flex-basis: 16.5% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 1800px) and (max-width: 1900px) {
        flex-basis: 15% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 1900px) and (max-width: 2000px) {
        flex-basis: 14.2% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 2001px) and (max-width: 3000px) {
        flex-basis: 10% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 3001px) and (max-width: 4030px) {
        flex-basis: 10% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 1100px) and (max-width: 1199px) {
        flex-basis: 26% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 900px) {
        flex-basis: 30% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1049px) {
        flex-basis: 30% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 900px) and (max-width: 999px) {
        flex-basis: 30% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 1050px) and (max-width: 1100px) {
        flex-basis: 30% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 750px) {
        flex-basis: 30% !important;
        width: 200px !important;
    }

    @media only screen and (min-width: 750px) and (max-width: 800px) {
        flex-basis: 30% !important;
        width: 200px !important;
        ;
    }

    @media only screen and (min-width: 600px) and (max-width: 700px) {
        flex-basis: 30% !important;
        width: 200px !important;
    }
}

.new-text {
    background: #FFFFFF;
    height: 20px;
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.11), 0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    text-align: center;
    margin-top: 0rem;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    padding-top: 0.3rem;
    color: #616161;
    width: 5rem;
    position: absolute;
    margin-left: 17rem;
    border: 1px solid;
}

.default-container .textCompleted {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #424242;
    margin-left: 12.4rem !important;

    @media only screen and (min-width: 1000px) and (max-width: 3000px) {
        margin-left: 9.7rem !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {
        margin-left: 8.7rem !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 800px) {
        margin-left: 7.7rem !important;
    }

    @media only screen and (min-width: 200px) and (max-width: 699px) {
        margin-left: 7.7rem !important;
    }
}

.dark-container .textCompleted {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 12.4rem !important;

    @media only screen and (min-width: 1000px) and (max-width: 3000px) {
        margin-left: 9.7rem !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {
        margin-left: 8.7rem !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 800px) {
        margin-left: 7.7rem !important;
    }

    @media only screen and (min-width: 200px) and (max-width: 699px) {
        margin-left: 7.7rem !important;
    }
}

.high-contrast-container .textCompleted {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 12.4rem !important;

    @media only screen and (min-width: 1000px) and (max-width: 3000px) {
        margin-left: 9.7rem !important;
    }

    @media only screen and (min-width: 800px) and (max-width: 999px) {
        margin-left: 8.7rem !important;
    }

    @media only screen and (min-width: 700px) and (max-width: 800px) {
        margin-left: 7.7rem !important;
    }

    @media only screen and (min-width: 200px) and (max-width: 699px) {
        margin-left: 7.7rem !important;
    }
}

.avatarImageMobile {
    height: 90px !important;
}

.avatarImage {
    margin-left: 7rem !important;
    width: 30px !important;
    height: 30px !important;
}

.newFlag-Visible {
    visibility: visible;
}

.newFlag-hidden {
    visibility: hidden;
}

// carousel card
.card-image-details-CarouselMobile {
    height: 11rem !important;
    border-radius: 6px 6px 0px 0px;
    margin-top: "1rem";
    width: 210px !important;
}

.default-container .trending-card-desc-CarouselMobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 1 (#424242) */
    color: #424242;
    margin-left: 2.4rem;
    padding-bottom: 0.5rem !important;
}

.dark-container .trending-card-desc-CarouselMobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    margin-left: 2.4rem;
    padding-bottom: 0.5rem !important;
}

.high-contrast-container .trending-card-desc-CarouselMobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    margin-left: 2.4rem;
    padding-bottom: 0.5rem !important;
}

.sliderDeskTopClassMobile {

    .ui-slider__input-wrapper {
        width: 100% !important;

        .jr {
            width: 100% !important;
        }
    }

    .ui-slider__rail {
        margin-top: 0rem !important;
        height: 1rem !important;
    }

    .ui-slider__track {
        margin-top: 0rem !important;
        height: 1rem !important;
        background: rgb(225, 223, 221);
        border-radius: 100px !important;
    }

    .je {
        height: 1rem !important;
        margin-top: 0% !important;
    }

    .ui-slider__thumb {
        visibility: hidden !important;
    }
}

.sliderDeskTopClassColorMobile {
    width: 100% !important;

    .ui-slider__input-wrapper {
        width: 100% !important;

        .jr {
            width: 100% !important;
        }
    }

    .ui-slider__rail {
        margin-top: 0rem !important;
        height: 1rem !important;
    }

    .ui-slider__track {
        margin-top: 0rem !important;
        height: 1rem !important;
        background: #5b5fc7 !important;
        border-radius: 100px !important;
    }

    .je {
        height: 1rem !important;
        margin-top: 0% !important;
    }

    .ui-slider__thumb {
        visibility: hidden !important;
    }
}

.default-container .textCompletedMobile {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #424242;
}

.dark-container .textCompletedMobile {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 20rem !important;
}

.high-contrast-container .textCompletedMobile {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 20rem !important;
}

.default-container .trending-card-descMobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    /* 🌕 Light theme/Rest/Foreground/Default Foreground 1 (#424242) */
    color: #424242;
}

.dark-container .trending-card-descMobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
}

.high-contrast-container .trending-card-descMobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    color: #f5f5f5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
}

.default-container .maine-page-containerMobile {
    width: 100% !important;
    height: 95%;
    background: #f5f5f5;
}

.dark-container .maine-page-containerMobile {
    width: 100% !important;
    height: 95%;
    background: #292929;
}

.high-contrast-container .maine-page-containerMobile {
    width: 100% !important;
    height: 95%;
    background: black;
}