@page
@model AppCompleteAuth.Pages.config
@{
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        microsoftTeams.app.initialize();

        function ssoLogin(){
            microsoftTeams.authentication.notifySuccess('sso');
        }
        function facebookLogin() {
            microsoftTeams.authentication.notifySuccess('facebooklogin');
        }
        function usingCredentialsLogin() {

            microsoftTeams.authentication.notifySuccess('usercredentials');
        }
    </script>
  
    <style>
        .container {   
            padding: 25px;
            height: 13.5rem;  
        }  
        button {
            margin: 2rem 2rem 0rem 0rem;
            width: auto;
            padding: 7px 18px;
        }
    </style>
</head>
<body class="theme-light">
    <div class="container">
        <h3>Please select login option</h3>
        <button class="btn btn-outline-info" onClick="ssoLogin()"> AAD SSO </button> <br />
        <button class="btn btn-outline-info" onClick="facebookLogin()"> Facebook login (OAuth 2) </button> <br />
        <button class="btn btn-outline-info" onClick="usingCredentialsLogin()"> Using username/password</button>
    </div>
</body>