@page
@model AppCompleteAuth.Pages.popUpSignin
@{
}

<head>
    <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"
            
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var requestFrom;
         $(document).ready(function () {
            const params = window.location.search;
            requestFrom = params.substring(params.search("=")+1);
        });

        microsoftTeams.app.initialize();

        // Submit user name and password.
        function submit()
        {
             var isValid = true;
             $('#userName,#password').each(function () {

                 if ($.trim($(this).val()) == '') {
                     isValid = false;
                     $(this).css({
                         "border": "1px solid red"
                     });
                 }
                 else {
                     $(this).css({
                         "border": "",
                         "background": ""
                     });
                 }
             });

             if (isValid == false) {
                 e.preventDefault();
                 return false;
             }

             let credentials = {
                 userName: $('#userName').val(),
                 password: $('#password').val(),
             };

             if(requestFrom == "tab"){
                 $.ajax({
                 type: 'POST',
                 url: '/tabCredentialsAuth',
                 dataType: 'json',
                 data: credentials,
                 success: function (response) {
                        microsoftTeams.authentication.notifySuccess(response);
                    },
                 error: function (xhr, textStatus, errorThrown) {
                         console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    },
                });
             }
             else if(requestFrom == "msgext"){
                microsoftTeams.authentication.notifySuccess(JSON.stringify(credentials));
             }
             else{
                 microsoftTeams.authentication.notifySuccess(JSON.stringify(credentials));
             }
        } 

        // Close auth window.
        function closeWindow() {
             microsoftTeams.authentication.notifyFailure({state:"CancelledByUser"});
        }

        function showHint() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
  
    <style>
        .container {   
            padding: 25px;
            border: 3px solid #1c1b1b;
            height: 13.5rem;  
        }  
        button {
            margin: 2rem 0rem 0rem 2rem;
            width: auto;
            padding: 7px 18px;
            float: right;
        }
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 30%;
            bottom: 30px;
            font-size: 17px;
        }
        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        @@-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }
            to {
                bottom: 30px;
                opacity: 1;
            }
        }
        @@keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }
            to {
                bottom: 30px;
                opacity: 1;
            }
        }
        @@-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }
            to {
                bottom: 0;
                opacity: 0;
            }
        }
        @@keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }
            to {
                bottom: 0;
                opacity: 0;
            }
        }

        input[type=text], input[type=password] {   
            width: 100%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;
        }
    </style>
</head>
<body class="theme-light">
<div class="container">
    <label>Username : </label><i class="far fa-question-circle" onClick="showHint()"></i>
    <input id="userName" value="testaccount@test123.onmicrosoft.com" type="text" required/>
    <label>Password : </label>
    <input id="password" value="testpassword" type="password" />
    <button  class="close-button" onClick="closeWindow()"> Cancel </button>
    <button onClick="submit()"> Login </button> 
    <div id="snackbar">For testing purpose only default id and password are supported</div>
</div>
</body>