
body {
    font-family:"Segoe UI","Apple Color Emoji","Segoe UI Emoji","Segoe UI Web";
}

.browser-button {
    margin-top: 1rem;
    font-weight: 600;
    background-color: #5B58C7;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.browser-button:hover {
    background-color: #7A80EB;
}