.container {
    padding: 1rem;
}

.tag-container {
    margin: 0.5rem;
    border-radius: 8px;
    padding: 0.9rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.manage-icons {
    cursor: pointer;
}

.manage-icons:hover {
    color: #5b5fc7;
    background-color: "#5B00C7";
}