<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <title>Meeting Live Caption</title>
    <style>
        body{
            font-family:"Segoe UI","Apple Color Emoji","Segoe UI Emoji","Segoe UI Web";
        }
    </style>
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
