<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
            integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
            crossorigin="anonymous"></script>
    <script>
        microsoftTeams.initialize();
        function createLink() {
            // Client id
            var appId = '@(ViewBag.AppId)';

            // Application base url and this redirects to Index view
            var contentUrl = window.location.origin;

            // Passing the values and encoding the url while implementing the deeplink from tab
            let url = "https://teams.microsoft.com/l/stage/" + appId + "/0?context={\"contentUrl\":\"" + contentUrl + "\",\"websiteUrl\":\"" + contentUrl +"\",\"name\":\"DemoStageView\"}";
            microsoftTeams.executeDeepLink(url);
        };
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div>
                <label for="tabChoice"></label>Click on the button to view the stage view from deeplink:
                <button onClick="createLink()">Execute deeplink</button>
            </div>
        </div>
    </div>
</body>

</html>