<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
        integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        h3 {
            text-align: center;
            margin-top: 0.5rem;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 26rem;
            height: 11rem;
            margin-left: 2rem;
            margin-top: 0.5rem;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 2px 2px;
            display: flex;
        }

        .homeImg {
            height: 50%;
        }

        .profile {
            margin-top: 1rem;
            margin-left: 1rem;
            max-width: 25rem;
            align-content: flex-start;
        }

        .btn-outline-info {
            margin-left: 11.5rem;
            max-width: 12.5rem;
            padding: 0.5rem 0rem;
        }

        .signin-header {
            margin-left: 2rem;
            margin-top: 1rem;
        }

        .card-container-div {
            margin-left: 30%;
            padding-bottom: 2rem;
        }

        .ssologin {
            margin-left: 10.5rem;
            margin-top: 7.6rem;
            width: 6.5rem;
        }

        .imgContainer {
            text-align: center;
        }

        .facebook {
            background-color: #4267b2;
            border-color: #4267b2;
            max-width: 12rem;
            margin-left: 46%;
        }

        .facebook:hover {
            background-color: #4267b2;
            border-color: #4267b2;
        }

        .googlebutton {
            border: 2px solid #000;
            max-width: 12rem;
            margin-left: 46%;
        }

        .googlebutton img {
            height: 20px;
            margin-right: 3px;
        }

        #divError {
            margin-left: -9rem;
            margin-top: 8rem;
        }
    </style>

    <script>
        let clientId =  <%-clientId%>
            let accessToken;
        let redirectUriFb = window.location.origin + "/fb-auth";
        let redirectUriGoogle = window.location.origin + "/google-auth";
        let is_google_signed_in = false;
        let is_fb_signed_in = false;

        $(document).ready(function () {
            ssoAuthentication();
        });
        microsoftTeams.initialize();

        // Get user details
        function getUserDetails(userName) {
            $.ajax({
                type: 'POST',
                url: '/GetUserInfo',
                dataType: 'json',
                data: {
                    'userName': userName
                },
                success: function (responseJson) {
                    if (responseJson == 'NoDataFound') {
                        $("#sso").show();
                    }
                    else {
                        const userDetails = responseJson;
                        if (userDetails.is_aad_signed_in) {

                            if (userDetails.is_google_signed_in) {
                                is_google_signed_in = userDetails.is_google_signed_in
                                getGoogleDetails(userDetails.google_token);
                            }

                            if (userDetails.is_fb_signed_in) {
                                is_fb_signed_in = userDetails.is_fb_signed_in
                                getFbDetails(userDetails.facebook_token);
                            }
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                }
            });
        };

        // Initiate AAD sso authentication.
        function ssoAuthentication() {
            getClientSideToken()
                .then((clientSideToken) => {
                    return getServerSideToken(clientSideToken);
                })
                .catch((error) => {
                    if (error === "invalid_grant") {
                        // Display in-line button so user can consent
                        $("#divError").text("invalid_grant");
                        $("#sso").hide();
                        $("#divError").show();
                        $("#consent").show();

                    } else {
                        // Display in-line button so user can consent
                        $("#divError").text("invalid_grant");
                        $("#sso").hide();
                        $("#divError").show();
                        $("#consent").show();
                    }
                });
        }

        // Get client side token.
        function getClientSideToken() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.getAuthToken({
                    successCallback: (result) => {
                        resolve(result);
                    },
                    failureCallback: function (error) {
                        reject("Error getting token: " + error);
                    }
                });
            });
        }

        // Get AAD server side token.
        function getServerSideToken(clientSideToken) {
            return new Promise((resolve, reject) => {
                microsoftTeams.getContext((context) => {
                    fetch('/getProfileOnBehalfOf', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'tid': context.tid,
                            'token': clientSideToken,
                            'userName': context.upn
                        }),
                        mode: 'cors',
                        cache: 'default'
                    })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                reject(response.error);
                            }
                        })
                        .then((responseJson) => {
                            if (responseJson.error) {
                                reject(responseJson.error);
                            } else {
                                const userDetails = responseJson;
                                $("#sso").hide();
                                $("#userImgSso").attr("src", userDetails.image);
                                $("#name").append(userDetails.details.displayName);
                                $("#email").append(userDetails.details.userPrincipalName);
                                $("#work").append(userDetails.details.jobTitle);
                                getUserDetails(context.upn);

                                if (is_google_signed_in) {
                                    $("#googlelogin").hide();
                                }

                                if (is_fb_signed_in) {
                                    $("#facebooklogin").hide();
                                }
                            }
                        });
                });
            });
        }

        // Request consent on implicit grant error.
        function requestConsent() {
            getToken()
                .then(data => {
                    $("#consent").hide();
                    $("#divError").hide();
                    accessToken = data.accessToken;
                    microsoftTeams.getContext((context) => {
                        getUserInfo(context.userPrincipalName);
                    });
                });
        }

        // Get token for multi tenant.
        function getToken() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.authenticate({
                    url: window.location.origin + "/auth-start",
                    width: 600,
                    height: 535,
                    successCallback: result => {
                        resolve(result);
                    },
                    failureCallback: reason => {
                        reject(reason);
                    }
                });
            });
        }

        // Get user information.
        function getUserInfo(userPrincipleName) {
            if (userPrincipleName) {
                microsoftTeams.getContext((context) => {
                    $.ajax({
                        type: 'POST',
                        url: '/GetUserDetails',
                        dataType: 'json',
                        data: {
                            'accessToken': accessToken,
                            'userName': userPrincipleName
                        },
                        success: function (responseJson) {
                            const userDetails = responseJson;
                            $("#userImgSso").attr("src", userDetails.image);
                            $("#name").append(userDetails.details.displayName);
                            $("#email").append(userDetails.details.userPrincipalName);
                            $("#work").append(userDetails.details.jobTitle);
                            getUserDetails(context.upn);
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                        }
                    });
                });
            }
        }

        // Initiate facebook auth flow.
        function fbAuth() {
            fbAuthentication()
                .then((result) => {
                    return getServerSideTokenFb(result.idToken);
                })
                .catch((error) => {
                    console.log(error);
                });
        }

        // Get facebook client side token.
        function fbAuthentication() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.authenticate({
                    url: `https://www.facebook.com/v12.0/dialog/oauth?client_id=${clientId.clientIdFb}&redirect_uri=${redirectUriFb}&state=1234535`,
                    width: 600,
                    height: 535,
                    successCallback: result => {
                        let data = localStorage.getItem(result);
                        let tokenDetails = JSON.parse(data);
                        localStorage.removeItem(result);
                        resolve(tokenDetails);
                    },
                    failureCallback: reason => {
                        reject(reason);
                    }
                });
            });
        }

        // Get facebook server side token.
        function getServerSideTokenFb(clientSideToken) {
            return new Promise((resolve, reject) => {
                microsoftTeams.getContext((context) => {
                    fetch('/getFbAccessToken', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'token': clientSideToken,
                            'userName': context.upn
                        }),
                        mode: 'cors',
                        cache: 'default'
                    })
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            reject(response.error);
                        }
                    })
                    .then((responseJson) => {
                        if (responseJson.error) {
                            reject(responseJson.error);
                        } else {
                            let userFbDetails = responseJson;
                            $("#fbname").empty();
                            $("#fbname").append("<b> Name: </b>" + userFbDetails.name);
                            $("#userImgFb").attr("src", userFbDetails.picture.data.url);
                            $("#facebooklogin").hide();
                            $("#fb-disConnect").show();
                        }
                    });
                });
            });
        }

        // Initiate google auth flow.
        function googleAuth() {
            googleAuthentication()
                .then((result) => {
                    return getServerSideTokenGoogle(result.idToken);
                })
                .catch((error) => {
                    console.log(error);
                });
        }

        // Get google client side token.
        function googleAuthentication() {
            return new Promise((resolve, reject) => {
                microsoftTeams.authentication.authenticate({
                    url: `https://accounts.google.com/o/oauth2/v2/auth/identifier?client_id=${clientId.clientIdGoogle}&scope=openid%20email%20profile&response_type=code&redirect_uri=${redirectUriGoogle}`,
                    width: 600,
                    height: 535,
                    successCallback: result => {
                        let data = localStorage.getItem(result);
                        let tokenDetails = JSON.parse(data);
                        localStorage.removeItem(result);
                        resolve(tokenDetails);
                    },
                    failureCallback: reason => {
                        alert(reason);
                        reject(reason);
                    }
                });
            });
        }

        // Get google server side token.
        function getServerSideTokenGoogle(clientSideToken) {
            return new Promise((resolve, reject) => {
                microsoftTeams.getContext((context) => {
                    fetch('/getGoogleAccessToken', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'token': clientSideToken,
                            'userName': context.upn
                        }),
                        mode: 'cors',
                        cache: 'default'
                    })
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            reject(response.error);
                        }
                    })
                    .then((responseJson) => {
                        if (responseJson.error) {
                            reject(responseJson.error);
                        } else {
                            let userDetails = responseJson;
                            $("#userImgGoogle").attr("src", userDetails.photos[0].url);
                            $("#gname").empty();
                            $("#gemail").empty();
                            $("#gname").append("<b>Name: </b>" + userDetails.names[0].displayName);
                            $("#gemail").append("<b>Email: </b>" + userDetails.emailAddresses[0].value);
                            $("#google-disConnect").show();
                            $("#googlelogin").hide();
                        }
                    });
                });
            });
        }

        // Get google details.
        function getGoogleDetails(token) {
            $.ajax({
                type: 'POST',
                url: '/getGoogleDetails',
                dataType: 'json',
                data: {
                    'token': token
                }, success: function (responseJson) {
                    if (responseJson.message == "Request failed with status code 401") {
                        googleAuth();
                    }
                    else {
                        let userDetails = responseJson;
                        console.log(userDetails);
                        $("#userImgGoogle").attr("src", userDetails.photos[0].url);
                        $("#gname").append(userDetails.names[0].displayName);
                        $("#gemail").append(userDetails.emailAddresses[0].value);
                        $("#google-disConnect").show();
                        $("#googlelogin").hide();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                }
            })
        }

        // Get facebook details.
        function getFbDetails(token) {
            $.ajax({
                type: 'POST',
                url: '/getFbDetails',
                dataType: 'json',
                data: {
                    'token': token
                }, success: function (responseJson) {
                    let userFbDetails = responseJson;
                    $("#fbname").append(userFbDetails.name);
                    $("#userImgFb").attr("src", userFbDetails.picture.data.url);
                    $("#fb-disConnect").show();
                    $("#facebooklogin").hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    fbAuth();
                }
            })
        }

        // Disconnect from facebook.
        function disconnectFromFb() {
            microsoftTeams.getContext(function (context) {
                $.ajax({
                    type: 'POST',
                    url: '/disconnectFromFb',
                    dataType: 'json',
                    data: {
                        'userName': context.upn
                    },
                    success: function (responseJson) {
                        if (responseJson == 'disconnected from facebook') {
                            $("#fbname").empty();
                            $("#fbname").append("<b> Name: </b>");
                            $("#userImgFb").attr("src", "https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY=");
                            $("#fb-disConnect").hide();
                            $("#facebooklogin").show();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    }
                })
            })
        }

        // Disconnect from google.
        function disconnectFromGoogle() {
            microsoftTeams.getContext(function (context) {
                $.ajax({
                    type: 'POST',
                    url: '/disconnectFromGoogle',
                    dataType: 'json',
                    data: {
                        'userName': context.upn
                    },
                    success: function (responseJson) {
                        if (responseJson == 'disconnected from google') {
                            $("#userImgGoogle").attr("src", "https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY=");
                            $("#gname").empty();
                            $("#gemail").empty();
                            $("#gname").append("<b>Name: </b");
                            $("#gemail").append("<b>Email: </b>");
                            $("#google-disConnect").hide();
                            $("#googlelogin").show();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    }
                })
            })
        }
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <h3> Welcome to App sample</h3>
        <div class="card-container-div">
            <div id="cardSSO">
                <div class="signin-header"><b>User info from SSO</b></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                            alt="Avatar" id="userImgSso" width="100px" height="100px">
                        <div class="profile">
                            <span id="name"><b>Name: </b></span><br>
                            <span id="email"><b>Email: </b></span></span><br>
                            <span id="work"><b>Work: </b></span></span>
                        </div>
                        <div id="divError" style="display: none"></div>
                        <button type="button" class="btn btn-sm btn-outline-info ssologin" onclick="requestConsent()"
                            id="consent" style="display:none;">Consent</button>
                    </div>
                </div>
            </div>
            <div id="cardFacebook">
                <div class="signin-header"><b>User info from facebook</b></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                            alt="Avatar" id="userImgFb" width="100px" height="100px">
                        <div class="profile">
                            <span id="fbname"><b>Name: </b></span>
                        </div>
                    </div>
                    <button type="button" id="facebooklogin" class="btn btn-primary facebook" onclick="fbAuth()"><i
                            class="fa fa-facebook"></i> Connect to Facebook</button>
                    <button type="button" style="display:none;" class="btn btn-outline-info"
                        onclick="disconnectFromFb()" id="fb-disConnect">Disconnect from facebook</button>
                </div>
            </div>
            <div id="cardGoogle">
                <div class="signin-header"><b>User info from google</b></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                            alt="Avatar" id="userImgGoogle" width="100px" height="100px">
                        <div class="profile">
                            <span id="gname"><b>Name: </b></span><br>
                            <span id="gemail"><b>Email: </b></span><br>
                        </div>
                    </div>
                    <button type="button" id="googlelogin" class="btn googlebutton" onclick="googleAuth()"><img
                            src="/Images/googleIcon.png"> Connect to Google</button>
                    <button style="display:none;" type="button" class="btn btn-outline-info"
                        onclick="disconnectFromGoogle()" id="google-disConnect">Disconnect from google</button>
                </div>
            </div>
        </div>
    </div>
</body>