@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Live Caption</title>
    <style>
    </style>
    <script type="text/javascript">
        function onSubmitCaption() {
            var captionInput = document.getElementById("caption");

            if (captionInput.value.trim() !== "") {
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    captionText: captionInput.value.trim()
                });

                var requestOptions = {
                  method: 'POST',
                  headers: myHeaders,
                  body: raw,
                  redirect: 'follow'
                };

                fetch(`${window.location.origin}/api/meeting/LiveCaption`, requestOptions)
                  .then(response => response.text())
                  .then(result => console.log(result))
                  .catch(error => console.log('error', error));
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <form onsubmit="event.preventDefault()">
          <label for="caption">Input caption here:</label><br>
          <textarea id="caption"></textarea>
          <button onclick="onSubmitCaption()">Submit</button>
        </form>
    </div>
</body>

</html>