@page
@model BotWithSharePointFileViewer.Pages.uploadFileModel
@{
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        window.onload = function () {
            var fileupload = document.getElementById("FileUpload1");
            var filePath = document.getElementById("spnFilePath");
            var button = document.getElementById("btnFileUpload");
            button.onclick = function () {
                fileupload.click();
            };
            fileupload.onchange = function () {
                var fileName = fileupload.value.split('\\')[fileupload.value.split('\\').length - 1];
                filePath.innerHTML = "<b>Selected File: </b>" + fileName;
            };
        };

        function installApp() {
            var teamId;
            microsoftTeams.getContext(function (context) {
                teamId = context.groupId;
                var appInfo = {
                    appId: null,
                    teamId: null
                };
                appInfo.appId = appId;
                appInfo.teamId = teamId;
                microsoftTeams.tasks.submitTask(appInfo);
            });
        };

    </script>
</head>
<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div>
                <input type="button" id="btnFileUpload" value="Select File" />
                <span id="spnFilePath"></span>
                <input type="file" id="FileUpload1" style="display: none" />
            </div>
        </div>
    </div>
</body>