<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microsoft Teams Hello World Sample App</title>
  <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css">
  <link rel="stylesheet" type="text/css" href="/styles/custom.css">
  <script src="https://res.cdn.office.net/teams-js/2.34.0/js/MicrosoftTeams.min.js"
          integrity="sha384-brW9AazbKR2dYw2DucGgWCCcmrm2oBFV4HQidyuyZRI/TnAkmOOnTARSTdps3Hwt"
          crossorigin="anonymous"></script>
  <script src="/scripts/teamsapp.js"></script>
</head>
<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="font-semibold font-title">
        This is our first tab
        <p>Welcome to Microsoft Teams Hello World sample app (Node.js)</p>
      </div>
    </div>
  </div>
</body>
</html>