<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://res.cdn.office.net/teams-js/2.53.0/js/MicrosoftTeams.min.js"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            var appId;
            var appName;

            microsoftTeams.app.initialize().then(function () {
                scanBarCode();
            });

            // Method to scan barcode
            function scanBarCode() {
                var config = {
                    timeOutIntervalInSec: 30
                };

                // Method that enables the user to scan different types of barcode, and returns the result as a string.
                microsoftTeams.media.scanBarCode(config).then(function (decodedText) {
                    if (decodedText) {
                        appId = decodedText;

                        if (decodedText == "1542629c-01b3-4a6d-8f76-1938b779e48d") {
                            appName = "Polly"
                        }
                        else if (decodedText == "81fef3a6-72aa-4648-a763-de824aeafb7d") {
                            appName = "Forms"
                        }
                        else if (decodedText == "7299542a-1697-4ec1-812b-6b70065c0795") {
                            appName = "Azure Boards"
                        }
                        else if (decodedText == "0c5cfdbb-596f-4d39-b557-5d9516c94107") {
                            appName = "App Studio"
                        }

                        $("#scannedText").text("Please click on confirm to install app -" + appName + "");
                    }
                }).catch(function (error) {
                    if (error.message) {
                        alert(" ErrorCode: " + error.errorCode + error.message);
                    } else {
                        alert(" ErrorCode: " + error.errorCode);
                    }
                });
            }

            function installApp() {
                microsoftTeams.app.getContext().then(function (context) {
                    var teamId = context.team.groupId;
                    var appInfo = { appId: null, teamId: null };
                    appInfo.appId = appId;
                    appInfo.teamId = teamId;
                    microsoftTeams.dialog.url.submit(appInfo);
                });
            };
           
        </script>
    </head>
    <body class="theme-light">
        <div class="surface">
            <div class="panel">
                <div>
                    <label id="scannedText"></label>
                    <button type="button" onclick="installApp()">Confirm</button>
                </div>
            </div>
        </div>
    </body>

</html>