<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    microsoftTeams.app.initialize().then(() => {
        microsoftTeams.pages.config.registerOnSaveHandler(function (saveEvent) {
            microsoftTeams.pages.config.setConfig({
                entityId: 'DetailsTabDemo',
                contentUrl: window.location.origin + "/Index",
                configName: 'DetailsTabDemo'
            });
            saveEvent.notifySuccess();
        });
        microsoftTeams.pages.config.setValidityState(true);
    });
    
</script>
<div class="col-md-8">
    <section id="configSection">
        <div class="header-inner-container">
            <div style="display: flex; align-content: center;font-size: 18px;">Press save to continue</div>
        </div>
    </section>
</div>