@model DetailsTab.Models.TaskInfo;
<script>
    microsoftTeams.app.initialize();
</script>
@{
    List<string> option1resultValue =  Model.PersonAnswered.ContainsKey(Model.option1) ? Model.PersonAnswered[Model.option1] : new List<string> ();
    List<string> option2resultValue =  Model.PersonAnswered.ContainsKey(Model.option2) ? Model.PersonAnswered[Model.option2] : new List<string> ();
    
};
<div class="card" id="getResultsModal" tabindex="-1">
    <div class="card-header">
        Users Answered the poll
      </div>
    <div class="card-body">
        <span class="option1">@Model.option1</span><br/>
        <span class="resultNames">@string.Join(',',option1resultValue)</span><br />
        <span class="option2">@Model.option2</span><br/>
        <span class="resultNames">@string.Join(',',option2resultValue)</span>
    </div>
</div>