<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/custom.css"/>
    <script
          src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"
          integrity="sha384-QtTBFeFlfRDZBfwHJHYQp7MdLJ2C3sfAEB1Qpy+YblvjavBye+q87TELpTnvlXw4"
          crossorigin="anonymous">
    </script>
    <script>
        microsoftTeams.app.initialize();

        function createLink() {
            var appId =  "<%-microsoftAppId%>";
            var baseUrl =  "<%-baseUrl%>";

            // Passing the values and encoding the url while implementing the deeplink from tab
            let url = "https://teams.microsoft.com/l/stage/"+appId+"/0?context={\"contentUrl\":\""+baseUrl+"/content\",\"websiteUrl\":\""+baseUrl+"/content\",\"name\":\"DemoStageView\"}";
            alert("URL - " + url);
            microsoftTeams.app.openLink(url);
         };
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div>
                <label for="tabChoice"></label>Click on the button to view the stage view from deeplink:
                <button onClick="createLink()">Execute deeplink</button>
            </div>
        </div>
    </div>
</body>

</html>