@{
    ViewData["Title"] = "Welcome";
    var selectedDomain = ViewBag.SelectedDomain;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>You are now in @selectedDomain Region.</h3>
</body>
</html>

