<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App in a meeting demo</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
    integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
    crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>

<body id=mainDiv>
  <label>Sprint 80 Plan Action</label>
  <div id="chatSection" className="chatSection">
    <div id="boardDiv" class="chat-window">
      <div class="grid-item" id="todo">
      ToDo
      </div>
      <div class="grid-item" id="doing">
      Doing
      </div>
      <div class="grid-item" id="completed">
      Completed
      </div>
      </div>
    <form class="chat-form">
      <label class="chat-label">
        Task name:
        <input type="text" class="task-name" />
      </label>
      <label class="chat-label">
        Task description:
        <input type="text" class="task-description" />
      </label>
      <label>
        Status:
        <select class="status">
          <option>todo</option>
          <option>doing</option>
          <option>completed</option>
        </select>
      </label>
      </br>
      <button onclick="sendTaskDetails()" class="send-button">Update</button>
    </form>
  </div>
  <script>
    var screenWidth = window.innerWidth;
    var meetingId;
    var userName;
    $(document).ready(function () {
      microsoftTeams.initialize();
      microsoftTeams.getContext(function (context) {
        meetingId = context.meetingId;
        tenantId = context.tid;
        userId = context.userObjectId;
        userName = context.upn;
      })
      var chatSection = document.getElementById("chatSection");
      if (screenWidth > 600) {
        chatSection.className = "chatSectionStage"
      }
    });
    const socket = io();
    socket.on('connection')

    // Render details
    const renderDetails = (data) => {
      if(data.status=="todo")
      {
        $('#todo').append(`<div class="details">
        Status: ${data.status}</br>
        Task Name: ${data.taskName}</br>
        Task Description: ${data.taskDescription}</br>
        -:${data.userName}</div>
  `)
      }
      else if(data.status=="doing")
      {
      $('#doing').append(`<div class="details">
        Status: ${data.status}</br>
        Task Name: ${data.taskName}</br>
        Task Description: ${data.taskDescription}</br>
        -:${data.userName}</div>
  `)
      }
      else{
        $('#completed').append(`<div class="details">
        Status: ${data.status}</br>
        Task Name: ${data.taskName}</br>
        Task Description: ${data.taskDescription}</br>
        -:${data.userName}</div>
  `)
      }
    }

    socket.on('message', (data) => {
      renderDetails(data)
    })

    // Send task details. 
    const sendTaskDetails = () => {
      var taskDescription = document.querySelector(".task-description")
      var taskName = document.querySelector(".task-name")
      var status = document.querySelector(".status")
      var isValid = true;
      $('.task-id,.task-status,.task-description,.task-name, .status').each(function (e) {
        if ($.trim($(this).val()) == '') {
          isValid = false;
          $(this).css({
            "border": "1px solid red"
          });
        }
        else {
          $(this).css({
            "border": "",
            "background": ""
          });
        }
      });
      if (isValid == false) {
        e.preventDefault();
        return false;
      }
      const taskDetails = {
        "taskDescription": taskDescription.value,
        "taskName": taskName.value,
        "userName": userName,
        "status": status.value
      };
      socket.emit('message', taskDetails);
    }
  </script>
</body>

</html>