<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App in a meeting demo</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
    integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
    crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body id=mainDiv>
  <div id="chatSection" className="chatSection">
    <div id="chat-window" class="chat-window"></div>
    <form class="chat-form">
      <label class="chat-label">
        Enter Task Id:
        <input type="text" class="task-id" />
      </label>
      <label class="chat-label">
        Task name:
        <input type="text" class="task-name" />
      </label>
      <label class="chat-label">
        Task status:
        <input type="text" class="task-status" />
      </label>
      <label class="chat-label">
        Task description:
        <input type="text" class="task-description" />
      </label>
      </br>
      <button onclick="sendTaskDetails()" class="send-button">Send Details</button>
    </form>
  </div>
  <script>
    var screenWidth = window.innerWidth;
    var meetingId;
    var tenantId;
    var userId;
    var userName;
    $(document).ready(function () {
      microsoftTeams.initialize();
      microsoftTeams.getContext(function (context) {
        meetingId = context.meetingId;
        tenantId = context.tid;
        userId = context.userObjectId;
        userName = context.upn;
      })
      var chatSection = document.getElementById("chatSection");
      if (screenWidth > 600) {
        chatSection.className = "chatSectionStage"
      }
    });
    const socket = io();
    socket.on('connection')

    // Render details
    const renderDetails = (data) => {
      $('#chat-window').append(`<div class="details">
        Task Id: ${data.taskId}</br>
        Task Name: ${data.taskName}</br>
        Task Description: ${data.taskDescription}</br>
        Task Status: ${data.taskStatus}</br>
        by:${data.userName}</div>
  `)
    }

    socket.on('message', (data) => {
      renderDetails(data)
    })

    // Send task details. 
    const sendTaskDetails = () => {
      var taskId = document.querySelector(".task-id");
      var taskStatus = document.querySelector(".task-status");
      var taskDescription = document.querySelector(".task-description")
      var taskName = document.querySelector(".task-name")
      var isValid = true;
      $('.task-id,.task-status,.task-description,.task-name').each(function (e) {
        if ($.trim($(this).val()) == '') {
          isValid = false;
          $(this).css({
            "border": "1px solid red"
          });
        }
        else {
          $(this).css({
            "border": "",
            "background": ""
          });
        }
      });
      if (isValid == false) {
        e.preventDefault();
        return false;
      }
      const taskDetails = {
        "taskId": taskId.value,
        "taskStatus": taskStatus.value,
        "taskDescription": taskDescription.value,
        "taskName": taskName.value,
        "userName": userName
      };
      socket.emit('message', taskDetails);
    }
  </script>
</body>
</html>