<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App in meeting - Stage View</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
    integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
    crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>

<body id=mainDiv>
  <div id="chatSection" className="chatSection">
    <div class="label">
      Sprint Status
    </div>
    <div id="boardDiv" class="chat-window">
      <div>
        <div class="label">
          To Do
        </div>

        <button onclick="openTaskModule('todo')" class="add-card-button">
          <img class="add-icon" src="/Images/add_icon.svg" title="Click to continue existing conversation" />
        </button>

        <div id="todo">
          <!-- The statud details will be updated here on runtime -->
        </div>
      </div>
      <div>
        <div class="label">
          Doing
        </div>

        <button onclick="openTaskModule('doing')" class="add-card-button">
          <img class="add-icon" src="/Images/add_icon.svg" title="Click to continue existing conversation" />
        </button>

        <div id="doing">
          <!-- The statud details will be updated here on runtime -->
        </div>
      </div>
      <div>
        <div class="label">
          Done
        </div>

        <button onclick="openTaskModule('done')" class="add-card-button">
          <img class="add-icon" src="/Images/add_icon.svg" title="Click to continue existing conversation" />
        </button>

        <div id="done">
          <!-- The statud details will be updated here on runtime -->
        </div>
      </div>
    </div>
  </div>
  <script>
    microsoftTeams.initialize();
    $(document).ready(function () {
      if (window.innerWidth > 600) {
        // Adding and removing classes based on screen width, to show app in stage view and in side panel
        $("#todo, #doing, #done").addClass("grid-item");
        $("#todo, #doing, #done").removeClass("grid-item-sidepanel");
        $("#boardDiv").addClass("chat-window");
        $("#boardDiv").removeClass("chat-window-sidepanel");
      }
      else {
        // Adding and removing classes based on screen width, to show app in stage view and in side panel
        $("#todo, #doing, #done").addClass("grid-item-sidepanel");
        $("#todo, #doing, #done").removeClass("grid-item");
        $("#boardDiv").addClass("chat-window-sidepanel");
        $("#boardDiv").removeClass("chat-window");
      }
    });

    // Creating socket instance for real time status updates in stage view.
    const socket = io();
    socket.on('connection')

    // Updating containers when a status message is received.
    socket.on('message', (data, status) => {
      if (data !== undefined) {
        var detailsClass = window.innerWidth > 600 ? "details" : "details-sidepanel";
        document.getElementById(status).innerHTML += (`<div class=${detailsClass}>
                <div class="description" title="${data.taskDescription}">${data.taskDescription}</div>
                <div class="userName">--${data.userName}</div>
          `);
      }
    })

    // Task module to collect details from the meeting participants.
    const openTaskModule = (status) => {
      let taskInfo = {
        title: "Status Details",
        height: 250,
        width: 250,
        url: `${window.location.origin}/index`,
      };

      // Invoking task module to collect status details from participants.
      microsoftTeams.tasks.startTask(taskInfo, (err, taskDetails) => {
        socket.emit('message', taskDetails, status);
      });
    };
  </script>
</body>

</html>