/* App.css */
.app-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.flight-select {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--light-blue-color);
  color: var(--primary-color);
  font-size: 16px;
}

button.tab {
  background-color: white;
  border-bottom: 0px solid var(--primary-color);
  color: var(--primary-color);
}

button.active-tab {
  background-color: white;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.content {
  border: 1px solid #ddd;
  padding: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  min-height: 26px;
}

.styled-table th {
  background-color: var(--primary-color);
  color: white;
}

.styled-table td .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: red;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}

.styled-table td img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  border: 1px dashed #555;
  background-color: #edf4fa;
  object-fit: cover;
}


/* Hover effect for desktop */
.styled-table tr:hover {
  background-color: #f5f5f5;
}

/* Tap effect for mobile devices */
@media only screen and (max-width: 600px) {
  .styled-table tr {
    transition: background-color 0.3s;
  }

  .styled-table tr:active {
    background-color: #f5f5f5;
  }
}

.hint-box {
  border: 1px solid whitesmoke;
  background-color: whitesmoke; 
  color: gray;
  font-size: 14px;
  padding-left: 5px;
}

.hint-box em {
  font-weight: bold;
  color: red;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: gray;
}

.error-page img {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 30%;
  aspect-ratio: 1/1;
  filter: invert(90%) sepia(1%) saturate(62%) hue-rotate(314deg) brightness(80%) contrast(84%);
}

.error-page h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-page p {
  font-size: 16px;
  margin-bottom: 20px;
}

.error-page button {
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
}


.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  align-items: center;
  color: gray;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}