/* IssueForm.css */
.issue-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 70%;
}

.issue-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #888282;
}

.issue-form-body {
  margin-top: 10px;
}

.issue-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.issue-form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  color: white;
}

.form-content {
  padding: 10px;
}

.form-field {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 4px;
  color: #555;
  font-weight: bold;
}

input, select{
  padding-left: 8px;
  width: 100%;
  height: 40px;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

select {
  padding-left: 2px;
}

.form-footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  justify-content: center;
}

.form-footer button {
 width: 200px;
}

button.close-button,
button.save-button,
button.cancel-button {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

button.save-button {
  background-color: var( --primary-color);
  color:white;
}

button.cancel-button {
  background-color: var(--gray-color);
  color: white;
}

.issue-form-container img {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  /* aspect-ratio: 1/1; */
  border: 1px solid darkslategray;
  border-radius: 3px;
  background-color: #edf4fa;
  object-fit: cover;
}

.issue-form-container img.default {
  border: 1px dashed darkslategray;
  object-fit: scale-down;
}