body {
    color: white;
    background-color: #201f1f;
}

p {
    font-family: Lato;
}

.agendaTitle {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#agendaButton {
    font-weight: bold;
    background-color: #efef;
    font-size: 18px;
    margin: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

#agendaInput {
    margin: 15px;
    width: 200px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#addAgendaButton {
    width: 70px;
    background-color: #efef;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
    padding: 5px;
}

#agendaList {
    font-size: 18px;
    font-family: segoe "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    padding-bottom: 5px;
}

#meetingOrganizer {
    display: none;
}

.list {
    padding: 5px;
    border: 1px dotted;
}

li {
    padding: 5px;
    border: 1px dotted;
}

#publishAgendaButton {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 15px;
    font-size: 16px;
    background-color: #efef;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    display: none;
}
