@page "/red"
@using ChannelGroupTab

@{
    Layout = "_Layout";
}

<div>
    <h1>Success!<br /><br /></h1>
    <img id="icon" src="~/images/iconRed.png" alt="red icon" style="width:100px" />
    <br /><br />
</div>

<p>This is your channel/group tab!</p>
