.select2-container {
    width: inherit !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: whitesmoke !important;
    color: black !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: whitesmoke !important;
    color: black !important;
    border: none;
}

.assigned {
    padding-right: 1rem;
}

.desc {
    width: 30%;
    padding: 15px;
    font-family: monospace;
    font-weight: 100;
    font-size: 14px;
    margin: 0px auto;
    display: none;
}

.radioClass {
    padding: 15px;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

label {
    color: #fff;
    font-size: 16px;
}