.container{
    background-color: #f0f0f0;
}

.detailsContainer{
    width: 60vw;
}

.questionsContainer{
    width: 40vw;
}

.details-separator{
    width: 100%;
    color: #E1DFDD;
}

.details{
    width: 25%;
    border-right: 1px solid #E1DFDD;
    min-height: 60px;
}

.source-details{
    width: 25%;
    min-height: 40px;
}

.basic-details-card{
    min-height: 35vh;
}

.timeline-card{
    min-height: 30vh;
}

.notes-card{
    min-height: 22vh;
}

/* Styles for mobile view */

.container-mobile{
    background-color: #000;
    color: #fff;
    max-width: 320px;
}

.menu-item{
    border-bottom: none !important;
}

.menu-item:hover{
    border-bottom: none;
}

.ui-menu__itemwrapper, .ui-menu__itemcontent{
    color: #fff;
}

.questions-card-mobile{
    background-color: #333333 !important;
    width: 80vw;
}

.add-button{
    width: 13vw;
    padding-left: 0px;
    border: none;
    margin-left: -11px;
    color: #696969 !important;
}