.container{
    background-color: #f0f0f0;
}

.detailsContainer{
    width: 60vw;
}

.questionsContainer{
    width: 40vw;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details-separator{
    width: 100%;
    border-top: 1px solid #E1DFDD;
}

.details{
    width: 25%;
    border-right: 1px solid #E1DFDD;
    min-height: 60px;
}

.source-details{
    width: 25%;
    min-height: 40px;
}

.basic-details-card{
    min-height: 35vh;
    background-color: #fff !important;
}

.timeline-card{
    min-height: 30vh;
    background-color: #fff !important;
}

.notes-card{
    min-height: 22vh;
    background-color: #fff !important;
}

.questionsCard{
    height: 15vh !important;
    background-color: #fff !important;
    border: 1px solid #f5f5f5 !important;
}

/* Styles for mobile view */

.container-mobile{
    background-color: #000;
    color: #fff;
    max-width: 320px;
    min-height: 80vh;
}

.menu-item{
    border-bottom: none !important;
}

.menu-item:hover{
    border-bottom: none;
}

.ui-menu__itemwrapper, .ui-menu__itemcontent{
    color: #fff;
}

.questions-card-mobile{
    background-color: #333333 !important;
    width: 80vw;
}

.add-button{
    width: 13vw;
    padding-left: 0px;
    border: none;
    margin-left: -11px;
    color: #696969 !important;
}

.add-comment-textarea{
    background-color: #000 !important;
    color: #fff !important;
}

textarea::-webkit-input-placeholder {
    color: #fff !important;
}

.basic-details-card-mobile{
    background-color: #000 !important;
    padding: 0 !important;
}

.subHeaders{
    color: #fff !important;
}

.basicDetails{
    background-color: #333333;
}