@using ChatLifecycle.Helper;
@{
    ViewData["Title"] = "Home Page";
}

<script src='https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js'></script>


<style>
#adaptiveBtn {
      border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 15px;
    font-size: 16px;
    background-color: #50B8CD;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;    
}
</style>

<h3>Welcome to Chat LifeCycle Application!!</h3>
<h4 id="subTitle" style="display: none">Please click on the button to create a group chat!</h4>
<div id="divError" style="display: none"></div>
<button onclick="requestConsent()" id="consent" style="display: none">Authenticate</button>
<div id="divGraphProfile" style="display: none"></div>

<button class="button-primary" id="adaptiveBtn" onclick="createAdaptiveCard()" style="display: none">Create Group Chat</button>

<script>
  
    microsoftTeams.initialize();

    function createAdaptiveCard()
    {
        location.href='/CreateAdaptiveCard';
    }
</script>
