.chat-input {
    width: 300px;
    height: 35px;
    border: solid 1px #444;
}

.chat-submit {
    width: 50px;
    height: 35px;
    border: solid 1px #444;
}

.chat-window {
    height: 60vh;
    width: 96vw;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    color: #f5f5f5;
    font-family: segoe ui;
}

.chat-window-sidepanel {
    height: 60vh;
    width: 88vw;
    overflow-y: scroll;
    padding: 10px;
    color: #f5f5f5;
}

#mainDiv {
    background-color: #f5f5f5;
    color: #111;
}

.grid-item {
    max-height: 178px;
    color: #f5f5f5;
    width: 22vw;
    padding: 0.5rem;
    overflow-y: auto;
    margin-top: 10px;
}

.grid-item-sidepanel {
    color: #f5f5f5;
    padding: 0.5rem;
}

.chatSection .chat-form {
    width: 8vw;
    margin-left: -1rem;
}

.chatSectionStage {
    margin: 1rem;
}

.chat-form {
    position: fixed;
    bottom: 2rem;
    display: grid;
    background-color: #fff;
    width: 96vw;
    padding-left: 1rem;
    background-color: #11100f;
    color: #f5f5f5;
    padding-top: 1em;
}

.send-button {
    width: fit-content;
}

.chatSectionStage .chat-label {
    margin-bottom: 0.5rem;
    display: block;
}

.chatSection .chat-label {
    display: inline-grid;
}

.chatSection .task-id {
    margin-left: 0rem;
}

.chatSectionStage .task-id {
    margin-left: 2rem;
}

.chatSectionStage .user-name {
    margin-left: 2.1rem;
}

.chatSectionStage .task-status {
    margin-left: 2.9rem;
}

.chatSectionStage .task-description {
    margin-left: 0.7rem;
}

.chatSection .user-name {
    margin-left: 1rem;
}

.chatSection .task-status {
    margin-left: 1rem;
}

.chatSection .task-description {
    margin-left: 0rem;
}

.details, .details-sidepanel {
    margin-top: 1rem;
    padding: 0.5rem;
    color: #111;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px;
}

    .details:hover, .details-sidepanel:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.details-sidepanel {
    margin-top: 1rem;
    padding: 0.5rem;
    color: #111;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px;
}

.add-card-button {
    width: 168px;
    height: 32px;
    width: 21vw;
    height: 32px;
    cursor: pointer;
    margin-top: 10px;
}

.add-icon {
    color: #5b5b5b;
    height: 20px;
}

.label {
    color: #111;
    font-weight: bold;
    font-family: segoe ui;
}
