<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Microsoft Teams Task Module Tab
    </title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div class="font-semibold font-title">
                <h4>Sample Task Module </h4>
                <div>
                    <p>
                        The following app manifest capabilities can be specified as having one-way or mutual
                        dependencies:
                    </p>
                    <ul>
                        <li>
                            <strong>Tabs:</strong> personal (<code>staticTabs</code>) and configurable
                            (<code>configurableTabs</code>)
                        </li>
                        <li>
                            <strong>Message extensions:</strong> (<code>composeExtensions</code>), including individual
                            commands
                        </li>
                        <li><strong>Bots:</strong> (<code>bots</code>)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>