@{
    ViewData["Title"] = "Home Page";
}
<h5>Teams Tab SSO Details</h1>

<div id="divError" style="display: none"></div>
<button onclick="requestConsent()" id="consent" style="display:none;">Authenticate</button>
<div id="divGraphProfile" style="display: none"></div>

