@page "/appInMeeting"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App in a meeting demo</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
            integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
            crossorigin="anonymous"></script>
</head>
<body id=mainDiv>
    <div id="chatSection" className="chatSection">
        <div class="label">
            Sprint Status
        </div>
        <div id="boardDiv" class="chat-window">
            <div>
                <div class="label">
                    To Do
                </div>

                <button onclick="openTaskModule('todo')" class="add-card-button">
                    <img class="add-icon" src="../../Images/add_icon.svg" title="Click to continue existing conversation" />
                </button>

                <div id="todo">

                </div>
            </div>
            <div>
                <div class="label">
                    Doing
                </div>

                <button onclick="openTaskModule('doing')" class="add-card-button">
                    <img class="add-icon" src="../../Images/add_icon.svg" title="Click to continue existing conversation" />
                </button>

                <div id="doing">

                </div>
            </div>
            <div>
                <div class="label">
                    Done
                </div>

                <button onclick="openTaskModule('done')" class="add-card-button">
                    <img class="add-icon" src="../../Images/add_icon.svg" title="Click to continue existing conversation" />
                </button>

                <div id="done">

                </div>
            </div>
        </div>
    </div>
    <script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="/lib/microsoft/chat.js"></script>
    <script>
        microsoftTeams.initialize();
        $(document).ready(function () {
            if (window.innerWidth > 600) {
                $("#todo, #doing, #done").addClass("grid-item");
                $("#todo, #doing, #done").removeClass("grid-item-sidepanel");

                $("#boardDiv").addClass("chat-window");
                $("#boardDiv").removeClass("chat-window-sidepanel");
            }
            else {
                $("#todo, #doing, #done").addClass("grid-item-sidepanel");
                $("#todo, #doing, #done").removeClass("grid-item");

                $("#boardDiv").addClass("chat-window-sidepanel");
                $("#boardDiv").removeClass("chat-window");
            }
        });

        // Task module to collect details from the meeting participants.
        const openTaskModule = (status) => {
            let taskInfo = {
                title: "Status Details",
                height: 250,
                width: 250,
                url: `${window.location.origin}/Index`,
            };

            microsoftTeams.tasks.startTask(taskInfo, (err, result) => {
                updateDetails(result, status);
            });
        };
    </script>
</body>
</html>
