@page
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App in a meeting demo</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
                integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="/lib/microsoft/chat.js"></script>
        <script>
            microsoftTeams.initialize();

            // Method to validate form and add the entered details
            function sendTaskDetails() {
                var taskDescription = document.querySelector(".task-description")
                var userName = document.querySelector(".user-name")
                var isValid = true;
                $('.task-description,.user-name').each(function (e) {
                    if ($.trim($(this).val()) == '') {
                        isValid = false;
                        $(this).css({
                            "border": "1px solid red"
                        });
                    }
                    else {
                        $(this).css({
                            "border": "",
                            "background": ""
                        });
                    }
                });

                if (isValid == false) {
                    e.preventDefault();
                    return false;
                }

                // Meeting participant's entered details.
                const taskDetails = {
                    "taskDescription": taskDescription.value,
                    "userName": userName.value
                };
                microsoftTeams.tasks.submitTask(taskDetails);
                return true;
            }
        </script>
        <form class="chat-form" onsubmit="return sendTaskDetails()">
            <div class="chat-label">
                Assigned To:
                <input type="text" class="user-name" />
            </div>
            <div class="chat-label">
                Description:
                <input type="text" class="task-description" />
            </div>
            <input type="submit" id="addDetails" value="Add"/>
        </form>
    </body>
    </html>
