doctype html
html(lang="en")
  head
    title Microsoft Teams Tab SSO Sample App
    link(rel="stylesheet", type="text/css", href="/styles/msteams-16.css")
    link(rel="stylesheet", type="text/css", href="/styles/custom.css")
    link(rel="stylesheet", type="text/css", href="/styles/button.css")
    script(src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.1.1.js")
    block scripts

  body(class="theme-light")
    div(class="surface")
      div(class="panel")
        block content
