<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>auto-complete-sample node js</title>
</head>

<body>
    <header class="header">
        <header class="header">
            <div class="header-inner-container">
                <div style="display: flex; align-content: center;font-size: 18px;">Press save to continue</div>
            </div>
        </header>
        <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
        <script>
            microsoftTeams.app.initialize().then(() => {
                microsoftTeams.app.notifySuccess();
                microsoftTeams.pages.config.registerOnSaveHandler(function (saveEvent) {
                    microsoftTeams.pages.config.setConfig({
                        entityID: "configTab",
                        contentUrl: `${window.location.origin}/botInfo?tenantId={tid}`,
                        suggestedTabName: "Bot Info",
                        websiteUrl: `${window.location.origin}/botInfo?tenantId={tid}`,
                    }).then(() => {
                        saveEvent.notifySuccess();
                    });
                });
                microsoftTeams.pages.config.setValidityState(true);
            });
        </script>
</body>

</html>