<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>auto-complete-sample node js</title>
</head>

<body>
    <header class="header">
        <header class="header">
            <div class="header-inner-container">
                <div style="display: flex; align-content: center;font-size: 18px;">Press save to continue</div>
            </div>
            <script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js"
                crossorigin="anonymous"></script>

        </header>
        <script src="https://statics.teams.microsoft.com/sdk/v1.7.0/js/MicrosoftTeams.min.js"></script>
        <script>
            microsoftTeams.initialize();
            microsoftTeams.appInitialization.notifySuccess();
            microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {
                microsoftTeams.settings.setSettings({
                    entityID: "configTab",
                    contentUrl: `${window.location.origin}/botInfo?tenantId={tid}`,
                    suggestedTabName: "Bot Info",
                    websiteUrl: `${window.location.origin}/botInfo?tenantId={tid}`,
                });
                saveEvent.notifySuccess();
            });
            microsoftTeams.settings.setValidityState(true);
        </script>
</body>

</html>