<script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="../scripts/auth.js"></script>
<meta charset="UTF-8">
<meta http-equiv="Content-Security-Policy"
      content="default-src *; style-src 'self' 'unsafe-inline' http://localhost:3978; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
<style>
    #createGroupChat {
        width: 150px;
        background-color: #50B8CD;
        font-size: 16px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        margin-left: 15px;
        cursor: pointer;
        padding: 5px;
    }
</style>

<body class="theme-light"></body>
<div class="surface"></div>
<div class="panel"></div>
<h3 id="welcomeMsg">Welcome to Chat LifeCycle Application!!</h3>
<div id="logs" style="overflow-x: hidden; overflow-y: scroll;" )></div>
<p id="html"></p>
<h4 id="successMsg"></h4>
<button id="createGroupChat" style="display: none;">Create Group Chat</button>

<script type="text/javascript">

    $(document).ready(function () {

        microsoftTeams.app.initialize().then(() => {
            $("#createGroupChat").on('click', function (e) {
                e.preventDefault();
                let baseURL = window.location.origin;
                $.post(baseURL + "/api/getAdaptiveCard", { token: localStorage.getItem("accessToken") }).done(function (data) {
                    let taskInfo = {
                        title: null,
                        height: null,
                        width: null,
                        url: null,
                        card: null,
                        fallbackUrl: null,
                        completionBotId: null,
                    };

                    taskInfo.card = data.content;
                    taskInfo.title = "Create Groupchat";

                    // Set fallback URL
                    taskInfo.fallbackUrl = taskInfo.url;
                    microsoftTeams.tasks.startTask(taskInfo, submitHandler);
                })
                submitHandler = (err, result) => {
                    if (err) {
                        console.log(err);
                    }
                    if (result) {
                        microsoftTeams.app.initialize().then(() => {
                            microsoftTeams.app.getContext().then((context) => {
                                var userId = context.user.id;
                                var resultObject = JSON.parse(result);
                                $.post(baseURL + "/api/createGroupChat", { token: localStorage.getItem("accessToken"), users: resultObject.users, userId: userId, title: resultObject.title }).done(function (data) {
                                    console.log(data);
                                    $("#createGroupChat").hide();
                                    $("#welcomeMsg").hide();
                                    showSuccessMessage();
                                })
                            });
                        });
                    }
                };

                function showSuccessMessage() {
                    document.getElementById("successMsg").innerHTML = "Group Chat created with all the selected members. Also, the app has been installed and pinned as a tab successfully!";
                }
            })
        });
    })

</script>