<div class="font-semibold font-title">
    <label for="tabChoice"> Chat LifeCycle Application</label>
</div>
<div>
    <label for="tabChoice">
        | Click Save below to set up the tab
    </label>
</div>

<script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"></script>
<script>
    microsoftTeams.app.initialize().then(() => {
        microsoftTeams.app.notifySuccess();

        microsoftTeams.pages.config.registerOnSaveHandler(function (saveEvent) {
            microsoftTeams.pages.config.setConfig({
                entityID: "Chat Lifecycle App",
                contentUrl: `${window.location.origin}/chatLifecycle`,
                suggestedTabName: "Chat Lifecycle App",
                websiteUrl: `${window.location.origin}/chatLifecycle`,
            });

            saveEvent.notifySuccess();
        });

        microsoftTeams.pages.config.setValidityState(true);
    });
</script>