<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://statics.teams.cdn.office.net/sdk/v1.11.0/js/MicrosoftTeams.min.js"
            crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <title>@ViewData["Title"] - Meeting Transcript</title>
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
