<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@microsoft/mgt@2/dist/bundle/mgt-loader.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js"
            integrity="sha384-mhp2E+BLMiZLe7rDIzj19WjgXJeI32NkPvrvvZBrMi5IvWup/1NUfS5xuYN5S3VT"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="./scripts/auth-delegated.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' http://localhost:3978; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    </head>
    <style>
        #mainDiv {
            padding-left: 2%;
            padding-top: 2%;
            padding-right: 2%;
        }
    </style>
</head>

<body id=mainDiv>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#createtask">Create Task</a></li>
            <li><a data-toggle="tab" href="#mylist">My Requests</a></li>
            <li><a data-toggle="tab" href="#managerList">My Pending Approvals</a></li>
        </ul>
        <div class="tab-content">
            <div id="createtask" class="tab-pane fade in active">
                <div class="mb">
                    <div class="form-group fg">
                        <mgt-teams-msal2-provider client-id="9811a0fb-ea05-46c7-b631-9c24f55ffe0c"
                            auth-popup-url="/tabAuth" scopes="User.Read,people.read"></mgt-teams-msal2-provider>
                        <mgt-login></mgt-login>
                        <label for="title" class="title">Task Title</label>
                        <br>
                        <input type="text" id="taskTitle" name="taskTitle">
                    </div>
                    </br>
                    <div class="form-group fg">
                        <label for="title-desc" class="description">Task Description</label><br>
                        <input type="text" id="taskDescription" name="taskDescription">
                        </br>
                    </div>
                    <label for="selection" class="selection">Send to</label>
                    <mgt-people-picker selection-mode="single"></mgt-people-picker>
                </div>
                <div class="modal-footer mf">
                    </br>
                    <button type="button" class="btn-send save" onclick="return sendNotificationToUser()">Send
                        Notification</button>
                </div>
            </div>
            <div id="mylist" class="tab-pane fade">
                <div id="notask">
                    <span>No records found</span>
                </div>
                <div id="mytask">
                    <h5>List of tasks:</h5>
                    <table border="1" id="task-list-table-user" class="table table-hover">
                        <thead>
                            <tr>
                                <td>Sr No.</td>
                                <td>Task Name</td>
                                <td>Task Description</td>
                                <td>Pending with</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="managerList" class="tab-pane fade">
                <div id="norequest">
                    <span>No records found</span>
                </div>
                <div id="approverequest">
                    <h5>List of tasks:</h5>
                    <table border="1" id="task-list-table-manager" class="table table-hover">
                        <thead>
                            <tr>
                                <td>Sr No.</td>
                                <td>Task Name</td>
                                <td>Task Description</td>
                                <td>Approve</td>
                                <td>Reject</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var data =  <%-data%>
        var token = data.token;
        var upn = "";

        $(document).ready(function () {
            microsoftTeams.getContext(function (context) {
            upn = context.upn;
            console.log("context is"+JSON.stringify(context));
            if(context.subEntityId != "") {
                let taskInfo = {
                title: null,
                height: null,
                width: null,
                url: null,
                card: null,
                fallbackUrl: null,
                completionBotId: null,
            };
            taskInfo.url = window.location.origin +"/UserRequest?id="+context.subEntityId;
            taskInfo.title = "View request";
            taskInfo.height = 400;
            taskInfo.width = 400;
            submitHandler = (err, result) => {
                console.log(`Submit handler - err: ${err}`);
            };
            microsoftTeams.tasks.startTask(taskInfo, submitHandler);
            }
        });
            $('#notask').hide();
            $('#norequest').hide();
            microsoftTeams.initialize();
        });
       
        var username = "";
        var userId = "";
        var createdBy = "";
        var empty = true;

        microsoftTeams.getContext(function (context) {
            createdBy = context.upn;
            userName = context.upn;
            userId = context.userObjectId;
            taskDetailsForUser(data, createdBy);
            taskDetailsForManager(data, createdBy);
        });

        // show the list of top 10 apps installed in a team
        function taskDetailsForUser(data, createdBy) {
            var list = data.requestDetails;
            var userList = [];
            if(list.length > 0) {
            list.map(item => {
                if(item.createdBy == createdBy){
                userList.push(item);
                }
            })
          }
            if (userList.length == 0) {
                $('#notask').show();
                $('#mytask').hide();
            }
            else {
                var i;
                for (i = 0; i < userList.length; i++) {
                    $('#task-list-table-user').append(`<tr style="padding:1px" >
                    <td style="margin-left:1px"> ${userList[i].id} </td>
                    <td style="margin-left:1px"> ${userList[i].title} </td>
                    <td style="margin-left:1px"> ${userList[i].description} </td>
                    <td style="margin-left:1px"> ${userList[i].assignedTo} </td>
                    <td style="margin-left:1px"> ${userList[i].status} </td>
                </tr>`);
                };
            }
        }

        function taskDetailsForManager(data, createdBy) {
            var list = data.requestDetails;
            var managerList = [];

            if (list.length > 0) {
                list.map(item => {
                    if (item.status == "Pending" && item.assignedTo == createdBy) {
                        managerList.push(item);
                    }
                })
            }

            if (managerList.length == 0) {
                $('#norequest').show();
                $('#approverequest').hide();
            }
            else {
                var i;
                for (i = 0; i < managerList.length; i++) {
                    $('#task-list-table-manager').append(`<tr style="padding:1px" >
                    <td> ${managerList[i].id} </td>
                    <td> ${managerList[i].title} </td>
                    <td> ${managerList[i].description} </td>
                    <td style="padding:5px">  
                        <button type="button" style ="background-color: lightgray" class="btn  btngetApp" data-app-itemid=${managerList[i].id} onclick="ApproveRequest(event)">Approve</button>
                    </td> 
                    <td style="padding:5px">  
                        <button type="button" style ="background-color: lightgray" class="btn btnUpgradeApp" data-app-itemid=${managerList[i].id} onclick="RejectRequest(event)">Reject</button>
                    </td>
                </tr>`);
                };
            }
        }

        function ApproveRequest(e) {
            var taskId = $(e.currentTarget).attr('data-app-itemid');
            let taskInfo = {
                taskId: taskId,
                status: "Approved"
            };
            location.reload();

            $.ajax({
                type: 'POST',
                url: '/ApproveRejectRequest',
                contentType: 'application/json',
                data: JSON.stringify(taskInfo),
                success: function (data, textStatus, jQxhr) {
                    console.log('success');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log('error', errorThrown);
                }
            });
        };

        function RejectRequest(e) {
            var taskId = $(e.currentTarget).attr('data-app-itemid');
            let taskInfo = {
                taskId: taskId,
                status: "Rejected"
            };
            location.reload();

            $.ajax({
                type: 'POST',
                url: '/ApproveRejectRequest',
                contentType: 'application/json',
                data: JSON.stringify(taskInfo),
                success: function (data, textStatus, jQxhr) {
                    console.log('success');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log('error', errorThrown);
                }
            });
        };

        function saveRequestDetails(taskInfo) {
            location.reload();

            $.ajax({
                type: 'POST',
                url: '/SaveRequest',
                contentType: 'application/json',
                data: JSON.stringify(taskInfo),
                success: function (data, textStatus, jQxhr) {
                    console.log('success save');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log('error', errorThrown);
                }
            });
        };

        // Send notification to user.
        function sendNotificationToUser() {
            var person = document.querySelector('mgt-people-picker').selectedPeople;
            userId = person[0].id;
            username = person[0].userPrincipalName;
            var isValid = true;

            $('#taskTitle,#taskDescription').each(function (e) {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });
            if (isValid == false) {
                e.preventDefault();
                return false;
            }
            var action = "EntityTopic";
            let taskInfo = {
                id: data.requestDetails.length + 1,
                title: $('#taskTitle').val(),
                description: $('#taskDescription').val(),
                assignedTo: username,
                createdBy: createdBy
            };

            $.ajax({
                url: "https://graph.microsoft.com/v1.0/users/" + userId + "/teamwork/installedApps/?$expand=teamsApp",
                type: "GET",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (profile) {
                    appId = getAppId(profile);
                    sendNotification(userId, taskInfo, token, appId);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                },
            });
        };

        // get app id.
        function getAppId(appList) {
            var list = appList.value;
            var i;
            for (i = 0; i < list.length; i++) {
                if (list[i].teamsApp['displayName'] == "Tab Request Approval") {
                    return list[i].teamsApp['id'];
                }
            }
        }

        // Send notification to user.
        function sendNotification(userId, taskInfo, token, appId) {
            var taskID = taskInfo.id;
            var encodedContext = encodeURI('{"subEntityId": '+taskID+'}');
            var url = 'https://teams.microsoft.com/l/entity/'+appId+'/request?context=' + encodedContext;
            alert("url is"+url);
            const postData = {
                "topic": {
                    "source": "text",
                    "value": "Required approval",
                    "webUrl": url
                },
                "activityType": "approvalRequired",
                "previewText": {
                    "content": "New request requires your approval"
                },
                "templateParameters": [
                    {
                        "name": "approvalTaskId",
                        "value": taskInfo.title
                    }
                ]
            };
            
            $.ajax({
                url: "https://graph.microsoft.com/v1.0/users/" + userId + "/teamwork/sendActivityNotification",
                type: "POST",
                data: JSON.stringify(postData),
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json',
                },
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (profile) {
                    saveRequestDetails(taskInfo);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    console.log("error" + JSON.stringify(xhr));
                },
            });
        }
    </script>
</body>

</html>