{% extends "layout.html" %}
{% block content %}
<div class="tag-container">
  <div>
    <h3 class="headColor">Membership Change Notifications</h3>
    <h4>Welcome to Membership Change Notification Tab</h4>
    <p>This Tab has successfully configured, you will get notifications of member added/removed/updated and when a channel is shared/unshared with a team, in this tab.</p>
    <hr />
    <div id="notifications">
      <p>Loading notifications...</p>
    </div>
  </div>
</div>
<script src="/static/js/channel.js"></script>
{% endblock %}
