@model Microsoft.BotBuilderSamples.Models.Rootobject;
<!DOCTYPE html>
<html>
<head>
    <script src='https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js'></script>
    <script type="text/javascript" src="/Scripts/teamsapp.js"></script>
</head>
<body>

    <div class="font-semibold font-title">
        <h3>Welcome to Domain Selection App!</h3>
    </div>

    <p>
        <div>
            This will help you to choose your domain and region.
        </div>
    </p>

    <p>
        <div>
            <label for="domainChoice">Select the Domain you would like to set: </label>
            <select id="domainChoice" name="domainChoice">
                <option value="" selected="selected">(Select a domain)</option>
                @foreach (var item in Model.regionDomains)
                {
                    <option value="@item.domain">@(  item.country + " - " + item.domain)</option>
                }
            </select>
        </div>
    </p>

</body>
</html>


