@model DemoViewModel;

<div class="col-md-8">
    <div>
        <h4>List of PermissionGrants current application has:</h4>
        @foreach (var permission in Model.Permissions)
        {
            <p>@Html.DisplayFor(m => permission)</p>
        }
        <br />

        <h4>List of channels in this team:</h4>
        @foreach (var channels in Model.Channels)
        {
            <p>@Html.DisplayFor(m => channels)</p>
        }
    </div>
</div>
