<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Inspection Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://res.cdn.office.net/teams-js/2.6.1/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        #mainDiv {
            padding-left: 5%;
            padding-top: 2%;
        }

        .flex-container {
            display: flex;
        }

        .flex-container > div {
            margin: 10px;
            padding: 10px;
        }

        .container {
            height: auto;
            margin: 0 auto;
            padding: 10px;
            position: relative;
            margin-left: 65px;
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>

<body id="mainDiv">
    <h4>Product Inspection</h4>
    <br />
    <div class="flex-container">
        <div>
            <img src="" id="desktop">
            <div class="container">Desktop</div>
        </div>
        <div>
            <img src="" id="laptop">
            <div class="container">Laptop</div>
        </div>
        <div>
            <img src="" id="mobile">
            <div class="container">Mobile</div>
        </div>
    </div>
    <br />
    <br />
    <button type="button" class="btn btn-outline-info" id="btnInspectProduct">Inspect product</button>
    <br />
    <br />
    <button type="button" class="btn btn-outline-info" id="btnViewProduct">View product status</button>

    <script>
        $(document).ready(function () {
            microsoftTeams.app.initialize();
            $("#desktop").attr("src", `${window.location.origin}/static/Images/01DU890.png`);
            $("#laptop").attr("src", `${window.location.origin}/static/Images/01SD001.png`);
            $("#mobile").attr("src", `${window.location.origin}/static/Images/01PM998.png`);
        });

        $("#btnInspectProduct").on('click', function () {
            let taskInfo = {
                title: "Scan Product",
                height: 510,
                width: 430,
                url: window.location.origin + "/scanProduct"
            };

            microsoftTeams.dialog.open(taskInfo, (err, result) => {
                console.log(`Submit handler - err: ${err}`);
            });
        });

        $("#btnViewProduct").on('click', function () {
            let taskInfo = {
                title: "View Product",
                height: 510,
                width: 430,
                url: window.location.origin + "/viewProductDetail"
            };

            microsoftTeams.dialog.open(taskInfo, (err, result) => {
                console.log(`Submit handler - err: ${err}`);
            });
        });
    </script>
</body>

</html>
