
@{
    ViewBag.Title = "Register";
    Layout = "";
}

<H2>Registration successful!</H2>

<br><br>To generate a message to this endpoint, use this link:@Html.ActionLink("Create Task", "Create", "Task", null, new { target = "_blank" })
