<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
        integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        microsoftTeams.initialize(() => {
            viewLocation();
        })
        // Method to show geo location for given latitude and longitude values.
        function viewLocation() {
            const params = new URLSearchParams(window.location.search);
            const latitude = params.get('latitude');
            const longitude = params.get('longitude');

            if (!latitude || !longitude) {
                alert("Latitude or Longitude parameters are missing in the URL.");
                return;
            }

            const location = {
                "latitude": parseFloat(latitude),
                "longitude": parseFloat(longitude)
            };

            microsoftTeams.location.showLocation(location, (error, result) => {
                if (error) {
                    let errorMessage = "Error";
                    if (error.message) {
                        errorMessage = `Error Code: ${error.errorCode}, Message: ${error.message}`;
                    } else {
                        errorMessage = `Error Code: ${error.errorCode}`;
                    }
                    alert(errorMessage);
                    return;
                }
            });
        }
    </script>
    <style>
        .submitClick {
            margin: 5rem;
            margin-left: 0rem;
        }
    </style>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div>
            </div>
        </div>
    </div>
</body>

</html>