<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Microsoft Teams Hello World Sample App
  </title>
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div
        style="font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, Sans-Serif; font-weight: 600; font-size: 1.5rem; line-height: 2rem;">
        This is our Second tab
        <p style="font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, Sans-Serif; font-weight: 600;">
          Welcome to Microsoft Teams Hello World sample app (Python)
        </p>
      </div>
    </div>
  </div>
</body>

</html>