<h2>Please click on save to continue.</h2>

<script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js" integrity="sha384-mhp2E+BLMiZLe7rDIzj19WjgXJeI32NkPvrvvZBrMi5IvWup/1NUfS5xuYN5S3VT" crossorigin="anonymous"></script>

<script type="text/javascript">
    microsoftTeams.initialize();
    microsoftTeams.settings.setValidityState(true);

    microsoftTeams.settings.registerOnSaveHandler(function (saveEvent) {
        microsoftTeams.settings.setSettings({
            entityId: 'RSCDemo',
            contentUrl: window.location.origin + "/Demo?tenantId={tid}&groupId={groupId}",
            configName: 'RSCDemo'
        });
        saveEvent.notifySuccess();
    });
</script>