@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/microsoftteams/platform/graph-api/rsc/resource-specific-consent">Resource-specific consent (RSC)</a>.</p>
</div>
