<!--
// Copyright (c) Microsoft Corporation
// All rights reserved.
//
// MIT License:
// Permission is hereby granted, free of charge, to any person obtaining
// a copy of this software and associated documentation files (the
// "Software"), to deal in the Software without restriction, including
// without limitation the rights to use, copy, modify, merge, publish,
// distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to
// the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
// OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
// WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<html>
    <head>
        <title>Bot Authentication Sample</title>
        <link rel="stylesheet" type="text/css" href="/styles/bot-auth.css" media="screen" >
        <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css" media="screen" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    </head>
    <body class="theme-light">
        <div id="instructionText" style="display: none">
            <div class="instruction-text">
                <p>You're almost there!</p>
                <p>To finish linking your account with<br/> {{providerName}}, type</p>
                <span class="verification-code">{{verificationCode}}</span>
                <p>in the Microsoft Teams chat window.</p>
            </div>
        </div>

        <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            // If the window is still visible after 5 seconds, then we are probably on a platform
            // that does not support automatically passing the verification code using notifySuccess().
            // So we ask the user to manually enter the verification code in the chat window.
            setTimeout(function () {
                document.getElementById("instructionText").style.display = "initial";
            }, 5000);

            microsoftTeams.app.initialize().then(() => {
                microsoftTeams.authentication.notifySuccess("{{verificationCode}}");
            });
        </script>
    </body>
</html>
