
@*<head>
    <script src='https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js'></script>
</head>
<body>
    <h1>Tab SSO Authentication</h1>
    <div id="divError" style="display: none"></div>
    <button onclick="requestConsent()" id="consent" style="display:none;">Authenticate</button>
    <div id="divGraphProfile" style="display: none"></div>

    <script>
        microsoftTeams.initialize();

        microsoftTeams.settings.registerOnSaveHandler((saveEvent) => {
            microsoftTeams.settings.setSettings({
                websiteUrl: window.location.origin ,
                contentUrl: window.location.origin + "/Home/Index",
                entityId: "Configure",
                suggestedDisplayName: "Configure"
            });
            saveEvent.notifySuccess();
        });

        microsoftTeams.settings.setValidityState(true);
    </script>
</body>
*@

 <script src='https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js'></script>
    <h2>Click on save to configure the tab.</h2>
 <script>
         microsoftTeams.app.initialize().then(() => {
            microsoftTeams.pages.config.registerOnSaveHandler((saveEvent) => {
                microsoftTeams.pages.config.setConfig({
                    entityId: 'Configure',
                    contentUrl: window.location.origin + "/Home/Index",
                    configName: 'Configure'
                });
                saveEvent.notifySuccess();
            });
            microsoftTeams.pages.config.setValidityState(true);
         });
</script>

