@{
    ViewData["Title"] = "Home Page";
}
<h5>Teams Tab SSO Details</h5>

<div id="divError" style="display: none"></div>
<button onclick="requestConsent()" id="consent" style="display:none;">Authenticate</button>
<img id="userPhoto" src="" style="display: none"/>
<div id="divGraphProfile" style="display: none"></div>

