<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add ToDo</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.11.0/js/MicrosoftTeams.min.js" integrity="sha384-SCVF3m7OvDKnfAilUzYn2yozEvBeP8n/Oq0yTH8VUI70J4AzrqR70jzjdQ6DI8s2" crossorigin="anonymous"></script>
</head>

<body>
    <script>
    microsoftTeams.initialize();

    // Creating socket instance for real time status updates in stage view.
    const socket = io();
    socket.on('connection')

    // Updating containers when a status message is received.
    socket.on('message', (data, status) => {
      if (data !== undefined) {
        var detailsClass = window.innerWidth > 600 ? "details" : "details-sidepanel";
        document.getElementById(status).innerHTML += (`<div class=${detailsClass}>
                <div class="description" title="${data.taskDescription}">${data.taskDescription}</div>
                <div class="userName">--${data.userName}</div>
          `);
      }
    })
        // Method to check validate form and add the entered details.
        function sendTaskDetails() {
            var taskDescription = document.querySelector(".task-description")
            var userName = document.querySelector(".user-name")
            var isValid = true;
            $('.task-description,.user-name').each(function (e) {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });

            if (isValid == false) {
                e.preventDefault();
                return false;
            }

            // Meeting participant's entered details.
            const taskDetails = {
                "taskDescription": taskDescription.value,
                "userName": userName.value
            };
            socket.emit('message', taskDetails, status);
            return true;
        }
    </script>
    <form class="chat-form" onsubmit="sendTaskDetails()">
        <h3>Add to ToDo:</h3>
        <div class="chat-label">
            Assigned To:
            <input type="text" class="user-name" />
        </div>
        <div class="chat-label">
            Description:
            <input type="text" class="task-description" />
        </div>
        <input type="submit" id="addDetails" value="Add" />
    </form>
</body>

</html>