@page "/personalTab"
@{
    Layout = "_Layout";
}

<script>
    //add call to microsoftTeams here.
</script>

<h1 style="color:#6364a5">Personal Tab</h1>
<p>
    <img src="~/Images/teamsIcon.png" alt="teams icon" style="margin:50px" /><br />
</p>
<p>This is your personal tab!</p>
