<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://res.cdn.office.net/teams-js/2.34.0/js/MicrosoftTeams.min.js"
                 integrity="sha384-brW9AazbKR2dYw2DucGgWCCcmrm2oBFV4HQidyuyZRI/TnAkmOOnTARSTdps3Hwt"
                 crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <h2>Navigate within a tab app</h2>
        <h3>This sample shows the tab navigation feature such as navigation between tabs within the app.</h3>
        <p>Please click the save button to proceed.</p>
    </div>
    <script src="{{ url_for('static', filename='js/configure.js') }}"></script>
</body>
</html>