# do not include the node modules in Git
node_modules

# do not include the package in Git
package

# do not include the local environment files
.env

# do not include the Connectors Json Db file
connectors.json

# do not include dist files
dist

# do not include temp folder
temp

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.eslintcache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

######

# TeamsFx files
env/.env.*
.DS_Store
.localSettings
build

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.deployment