.sidepanelDocumentCard {
  border-top-width: 0.1875rem !important;
}

.sidepanelDocumentCardDocument {
  overflow: hidden;
  width: 100%;
  max-height: 10rem;
  font-size: 0.357rem;
  box-shadow: 0 -2rem 2rem -2rem rgba(0,0,0,0.6) inset;
}
