.sidepanelDocumentCard {
  border-top-width: 0.1875rem !important;
}

.sidepanelDocumentCardDocument {
  overflow: hidden;
  max-height: 20rem;
  white-space: nowrap;
  font-size: 0.65rem;
  box-shadow: 0 -2rem 2rem -2rem rgba(0,0,0,0.6) inset;
}
