<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
        integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
        crossorigin="anonymous"></script>
    <script async defer src="https://teams.microsoft.com/share/launcher.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            microsoftTeams.initialize();
        });

    </script>
    <style>
        #tabheader {
            margin-left: 38rem;
        }

        #reportimg {
            margin-left: 20rem;
        }

        #stt-btn {
            margin-left: 40rem;
            margin-top: 1rem;
        }
    </style>
</head>

<body class="theme-light">
    <div class="surface">
        <h3 id="tabheader"> Link unfurling in STT</h3>
        <img id="reportimg" src="https://6073-116-75-10-155.ngrok.io/Images/budget.png" />
        <div id="stt-btn" class="teams-share-button" data-href="https://6073-116-75-10-155.ngrok.io?krs" data-button-type="medium" data-icon-px-size="160" data-preview="true"></div>
    </div>
</body>