<div class="font-semibold font-title">Configure your app here</div>
<p>
    <div>
        <label for="tabChoice">Select the tab you would like to see: </label>
        <select id="tabChoice" name="tabChoice">
            <option value="" selected="selected">(Select a tab)</option>
            <option value="first">First</option>
            <option value="second">Second</option>
        </select>
    </div>
</p>
