<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.11.0/js/MicrosoftTeams.min.js" integrity="sha384-SCVF3m7OvDKnfAilUzYn2yozEvBeP8n/Oq0yTH8VUI70J4AzrqR70jzjdQ6DI8s2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        microsoftTeams.initialize();
        function getBarcode() {
            debugger
            var productId = $("#productIdOptions").val();
            $("#qrImg").attr("src", `${window.location.origin}/Images/${productId}.png`);
            $("#qrImg").removeAttr("hidden");
        };
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div>
                <label for="productIdOptions">Select Product</label>
                <select id="productIdOptions" name="cars">
                    <option value="01SD001" selected>Laptop</option>
                    <option value="01DU890">Desktop</option>
                    <option value="01NT789">Tablet</option>
                    <option value="01PM998">Mobile</option>
                    <option value="01EW420">IOS Device</option>
                </select>
                <button onClick="getBarcode()">Get Barcode</button>
                <img alt="QR Image" id="qrImg" hidden="hidden" />
            </div>
        </div>
    </div>
</body>

</html>