extends layout.pug

block content
  div(class="font-semibold font-title") Azure AD SSO Tab Demo
  div(id="logs" style="overflow-x: hidden; overflow-y: scroll;")
  script(src="/scripts/initTeamsTab.js")
  script(src="/scripts/ssoDemo.js")