@page
@{
    ViewData["Title"] = "Hello";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="font-semibold font-title" style="color:gray">"Hello, Welcome to Microsoft Teams."</div>

<h3 style="color:dodgerblue;font-family:sans-serif">App Icon Badging in Teams meetings notification.</h3>
