@page
@model IdentityLinkingWithSSO.Pages.config
@{
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
            integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            const params = window.location.search;
            const is_fb_signed_in = params.substring(params.search("=") + 1, params.search("&")).toLocaleLowerCase();
            const is_google_signed_in = params.substring(params.search("&") + 21).toLocaleLowerCase();
            alert("fb" + is_fb_signed_in + " goo" + is_google_signed_in);
            if (is_fb_signed_in == "true") {
                $("#disconncectFacebook").show();
                $("#connectfacebook").hide();
            }
            else {
                $("#disconncectFacebook").hide();
                $("#connectfacebook").show();
            }
            if (is_google_signed_in == "true") {
                $("#disconnectGoogle").show();
                $("#connectGoogle").hide();
            }
            else {
                $("#disconnectGoogle").hide();
                $("#connectGoogle").show();
            }
        });
        microsoftTeams.initialize();
        function connectToFacebook() {
            microsoftTeams.authentication.notifySuccess('ConnectWithFacebook');
        }
        function connectToGoogle() {
            microsoftTeams.authentication.notifySuccess('ConnectWithGoogle');
        }
        function disconncectFacebook() {
            microsoftTeams.authentication.notifySuccess('DisconnectFromFacebook');
        }
        function disconnectGoogle() {
            microsoftTeams.authentication.notifySuccess('DisconnectFromGoogle');
        }
    </script>

    <style>
        .container {
            padding: 25px;
            height: 13.5rem;
        }

        button {
            margin: 2rem 2rem 0rem 0rem;
            width: auto;
            padding: 7px 18px;
        }
    </style>
</head>
<body class="theme-light">
    <div class="container">
        <h3>Please select login option</h3>
        <button class="btn btn-outline-info" id="connectfacebook" onClick="connectToFacebook()"> Connect to Facebook</button> <br />
        <button class="btn btn-outline-info" id="connectGoogle" onClick="connectToGoogle()"> Connect to Google</button>
        <button class="btn btn-outline-info" id="disconncectFacebook" onClick="disconncectFacebook()"> Disconnect from Facebook</button> <br />
        <button class="btn btn-outline-info" id="disconnectGoogle" onClick="disconnectGoogle()"> Disconnect from Google</button>
    </div>
</body>