<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microsoft Teams Hello World Sample App</title>
  <style>
    /* Define the common font styles */
    .theme-text {
      font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
      font-weight: 600;
    }

    .heading {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .subheading {
      font-weight: 600;
    }
  </style>
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="theme-text heading">
        This is our first tab
        <p class="theme-text subheading">
          Welcome to Microsoft Teams Hello World sample app (Python)
        </p>
      </div>
    </div>
  </div>
</body>

</html>
