@{
    ViewData["Title"] = "Home Page";
}
<h1>Tab SSO Authentication</h1>
<div id="divError" style="display: none"></div>
<button onclick="requestConsent()" id="consent" style="display:none;">Authenticate</button>
<img id="userPhoto" src="" style="display: none"></img>
<div id="divGraphProfile" style="display: none"></div>