@page
@model LinkUnfurlingStt.Pages.tabModel
@{
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js"
            integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script async defer src="https://teams.microsoft.com/share/launcher.js"></script>

    <style>
        h3 {
            text-align: center;
            margin-top: 0.5rem;
        }

        .container {
            padding: 2px 2px;
            display: flex;
        }
    </style>

</head>
<body class="theme-light">
    <div class="surface">
        <h3> Link unfurling share to teams</h3>
        <div class="teams-share-button" data-href="https://119e8e0973b5.ngrok.io" data-button-type="medium" data-icon-px-size="160" data-preview="true"></div>
    </div>
</body>