@model List<SidePanel.Models.TaskInfo>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @foreach (var item in Model)
    {
        <li>@Html.DisplayFor(model => item.title)</li>
    }