@model List<SidePanel.Models.TaskInfo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="agendaTitle">
        Agenda for today
    </div>
    <div id="meetingOrganizer">
        <div id="agendaButtonDiv">
            <button id="agendaButton" onclick="showAgendaInput()">Add New Agenda Item</button>
        </div>
        <div id="agendaInputDiv" style="display:none">
            <input type="text" id="agendaInput"><br>
            <button id="addAgendaButton" onclick="closeAgendaInput()">Add</button>
        </div>
    </div>
    <div id="list">
        <ol type="1" id="agendaList">

            @await Html.PartialAsync("SidePanelParticalView", Model)

        </ol>
    </div>
    <button id="publishAgendaButton">Publish Agenda</button>

    <script type="text/javascript">

        //Default Action On View Render
        microsoftTeams.app.initialize();
        var userId = "";
        window.onload = function () {
            microsoftTeams.app.getContext().then(function (context) {
                userId = context.userObjectId;
                var meetingId = context.meetingId;
                var tenantId = context.tid;
                $.ajax({
                    type: 'GET',
                    url: '/Home/IsOrganizer',
                    dataType: 'json',
                    data: { userId: userId, meetingId: meetingId, tenantId: tenantId },
                    success: function (response) {
                        console.log(response);
                        RoleFunction(response);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + response);
                    },
                });
            })
        }

        //Enabling Organizer Tools
        function RoleFunction(response) {
            if (response === true) {
                document.getElementById("meetingOrganizer").style.display = "block";
                document.getElementById("publishAgendaButton").style.display = "block";
            }
            else {
                document.getElementById("meetingOrganizer").style.display = "none";
                document.getElementById("publishAgendaButton").style.display = "none";
            }
        }

        //Toggle Agenda Add Button/Agenda Text Input
        function showAgendaInput() {
            document.getElementById("agendaInputDiv").style.display = "block";
            document.getElementById("agendaButtonDiv").style.display = "none";
            document.getElementById("agendaInput").focus();
            event.preventDefault();
        }

        //Publish the Agenda to the Chat Conversation
        $("#publishAgendaButton").on('click', function (e) {
            $.ajax({
                type: 'GET',
                url: '/Home/SendAgenda',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    console.log("Agenda Published to Chat");
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + response);
                },
            });
            event.preventDefault();
        })

        //On Click of Add Button Add the Agenda Point to the List
        $("#addAgendaButton").on('click', function (e) {
            document.getElementById("agendaInputDiv").style.display = "none";
            document.getElementById("agendaButtonDiv").style.display = "block";
            var newAgendaItem = $("#agendaInput").val();
            if (newAgendaItem != "") {
                e.preventDefault();
                let taskInfo = {
                    title: newAgendaItem
                };
                $.ajax({
                    type: 'GET',
                    url: '/Home/AddNewAgendaPoint',
                    dataType: 'json',
                    data: taskInfo,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                    },
                });
                document.getElementById("agendaInput").value = '';
            }
            event.preventDefault();
        })
    </script>
