
<div class="col-md-8">
    <section id="configSection">
        <div>
            <br />
            <h4>RSC consent demo list of channels in team</h4>
            <br />
            <br />
            <button type="button" name="getChannels" value="Get Channels" onclick="login()"> Get the list of channels</button>
            <br />
            <br />
            <br />
            <div id="showList" style="display:none">
                Here with the list of channels:
            </div>
            <br />
            <div id="listChannels">

            </div>
         
        </div>

    </section>
</div>

<div class="container">   
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">              
                <!-- Modal body -->
                <div class="modal-body">
                    <h5> Following RSC Consents are added </h5>
                    <div class="abc">
                        TeamSettings.Read.Group,
                        ChannelMessage.Read.Group,
                        TeamSettings.Edit.Group,
                        ChannelSettings.ReadWrite.Group,
                        Channel.Create.Group,
                        Channel.Delete.Group,
                        TeamsApp.Read.Group,
                        TeamsTab.Read.Group,
                        TeamsTab.Create.Group,
                        TeamsTab.ReadWrite.Group,
                        TeamsTab.Delete.Group,
                        Member.Read.Group,
                        Owner.Read.Group
                    </div>
                 
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>
    </div>

</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="@("https://unpkg.com/@microsoft/teams-js@1.3.3/dist/MicrosoftTeams.min.js")"></script>
<script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js" integrity="sha384-mhp2E+BLMiZLe7rDIzj19WjgXJeI32NkPvrvvZBrMi5IvWup/1NUfS5xuYN5S3VT" crossorigin="anonymous"></script>

<style>
    .result {
        color: red;
        padding: 3px;
        border-bottom: 1px solid #ccc;
        width: 40%;
    }
    .abc {
        word-wrap: break-word; /* IE 5.5-7 */
        white-space: pre-wrap; /* Modern browsers */
    }
</style>

<script type="text/javascript">

    microsoftTeams.initialize();
  
    function login() {
        getAccessToken();
    }

    function getAccessToken() {
        
        microsoftTeams.initialize();
        microsoftTeams.getContext(function (context) {
           var tenantId = context.tid;
            var groupId = context.groupId;
          


            $.ajax({
                url: '@Url.Action("GetChannelsList", "Home")',
                type: "GET",
                dataType: "json",
                data: { tenantId: tenantId, groupId: groupId },
                success: function (response) {
                    console.log(response);
                    ListChannels(response);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                },
            });

        })
    }

    function ListChannels(channelData) {

        $("#showList").show();
        $.each(channelData, function (idx, value) {
            var newdiv = $('<div>', { class: 'result', text: value });
            $('#listChannels').append(newdiv);
        });
    }

    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
</script>
