<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSC demo node js</title>
  
</head>

<body>
    <header class="header">
        <header class="header">
            <div class="header-inner-container">
                <div style="display: flex; align-content: center; font-size: 24px;">Welcome to RSC Node demo</div>
            </div>
            <div class="header-inner-container">
                <div style="display: flex; align-content: center;font-size: 18px;">Press save to continue</div>
            </div>
            <link rel="stylesheet" type="text/css" href="../Styles/config.css">
        </header>
        <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"></script>
        <script>
            microsoftTeams.app.initialize().then(() => {
                microsoftTeams.app.notifySuccess();
                microsoftTeams.pages.config.registerOnSaveHandler(function (saveEvent) {
                    microsoftTeams.pages.config.setConfig({
                        entityID: "Rsc demo",
                        contentUrl: `${window.location.origin}/rscdemo?tenantId={tid}`,
                        suggestedTabName: "Rsc demo",
                        websiteUrl: `${window.location.origin}/rscdemo?tenantId={tid}`,
                    });
                    saveEvent.notifySuccess();               
                });
                microsoftTeams.pages.config.setValidityState(true);
            });
        </script>
</body>

</html>