# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs.playground
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/

# misc
.DS_Store

# Dev tool directories
/devTools/