<div class="font-semibold font-title">LoginStart.html</div>
<p>
    <script type="text/javascript" src="https://alcdn.msauth.net/browser/2.16.1/js/msal-browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">





        async function loadPage() {
            console.log("inside loadPage function on LoginStart.html");
            var urlParams = new URLSearchParams(window.location.search);
            var userConsent = urlParams.get('userConsent');
            var appId = urlParams.get('appId');

            window.localStorage.setItem("microsoftAppId", appId);

            if (userConsent)
            {
                //this is alot of code, but... we are using MSAL to handle the authorisation of the scopes we need. This will also result in this iFrame getting an access token, which for this app we won't use, as the bot will get a new one for us.

                const msalConfig = {
                    auth: {
                        clientId: appId,
                        redirectUri: window.location.origin + "/loginend"
                    }
                };

                var requestObj = {
                    scopes: ["https://graph.microsoft.com/User.Read", "https://graph.microsoft.com/Presence.Read"],
                    prompt: "select_account"
                };

                const clientApp = new msal.PublicClientApplication(msalConfig);

                redirectAuth = async () => {

                await clientApp.handleRedirectPromise();

                const accounts = clientApp.getAllAccounts();
                clientApp.loginRedirect(requestObj);
                }

                $(this.redirectAuth);

            }
            else
            {
                console.log("doing the redirect...");
                window.location.assign("https://login.microsoftonline.com/common/adminconsent?client_id=" + appId + "&redirect_uri=" + window.location.origin + "/loginend");
            }
        }
        
        $(this.loadPage());

    
    </script>
</p>
