<html>
<head>
    <title>Simple and Silent Authencation</title>
</head>
<body>
    <p>
        Please click on any of the authentication
    </p>
    <div style="height: 20px">
    </div>
    <div>
        <!-- Login button -->
        <button id="btnLogin" onclick="silentLogin()">Login to Silent</button>
    </div>
    <div style="height: 30px">
    </div>
    <div>
        <button id="btnLogin" onclick="simpleLogin()">Login to Simple Azure AD</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha384-VC7EHu0lDzZyFfmjTPJq+DFyIn8TUGAJbEtpXquazFVr00Q/OOx//RjiZ9yU9+9m" crossorigin="anonymous"></script>

    <!-- Check before upgrading your ADAL version, as this sample depends on an internal function to authenticate silently -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.15/js/adal.min.js" integrity="sha384-lIk8T3uMxKqXQVVfFbiw0K/Nq+kt1P3NtGt/pNexiDby2rKU6xnDY8p16gIwKqgI" crossorigin="anonymous"></script>

    <script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js"></script>
    <script type="text/javascript">
        microsoftTeams.initialize();

        function silentLogin() {
            window.location.href = "@Url.Action("SilentConfigureTab", "Home")";
        }

        function simpleLogin() {
            window.location.href = "@Url.Action("SimpleConfigureTab", "Home")";
        }

    </script>
</body>
</html>
