<div>
    <table>
        <tr>
            <td id="greetingMsgSetup">
               
            </td>
        </tr>
    </table>
</div>

<script src="@("https://unpkg.com/@microsoft/teams-js@1.3.3/dist/MicrosoftTeams.min.js")"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js" crossorigin="anonymous"></script>
<script src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">

    microsoftTeams.initialize();
    console.log(localStorage.getItem("displayName"));
    window.onload = function () {
       
        document.getElementById("greetingMsgSetup").innerHTML = `Welcome ${localStorage.getItem("displayName")}...`;
    };
</script>