<div>
    <table>
        <tr>
            <td id="greetingMsgSetup">
               
            </td>
        </tr>
    </table>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js" crossorigin="anonymous"></script>
<script src="https://res.cdn.office.net/teams-js/2.34.0/js/MicrosoftTeams.min.js"
        integrity="sha384-brW9AazbKR2dYw2DucGgWCCcmrm2oBFV4HQidyuyZRI/TnAkmOOnTARSTdps3Hwt"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    microsoftTeams.app.initialize().then(() => {
    });
    console.log(localStorage.getItem("displayName"));
    window.onload = function () {
       
        document.getElementById("greetingMsgSetup").innerHTML = `Welcome ${localStorage.getItem("displayName")}...`;
    };
</script>