<div>
    <table>
        <tr>
            <td id="greetingMsgSetup">
               
            </td>
        </tr>
    </table>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js" crossorigin="anonymous"></script>
<script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">

    microsoftTeams.app.initialize();
    console.log(localStorage.getItem("displayName"));
    window.onload = function () {
       
        document.getElementById("greetingMsgSetup").innerHTML = `Welcome ${localStorage.getItem("displayName")}...`;
    };
</script>