@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <span>To add a Tab please Sign In:</span>
        <!-- Login button -->
        <button onclick="loginV1()">Sign In</button>
    </div>

</div>

<script type="text/javascript">

    function loginV1() {
        login(window.location.origin + "/SimpleAuthStart");
    }

    function login(url) {
        microsoftTeams.app.initialize().then(() => {
            microsoftTeams.authentication.authenticate({
                url: url,
                width: 600,
                height: 535
            }).then((result) => {
                console.log("Login succeeded: " + result);
                let data = localStorage.getItem(result);
                localStorage.removeItem(result);

                let tokenResult = JSON.parse(data);
                getUserProfile(tokenResult.accessToken);

                window.location.href = "@Url.Action("SimpleSuccess", "Authentication")";
            }).catch((reason) => {
                console.log("Login failed: " + reason);
                handleAuthError(reason);
                window.location.href = "@Url.Action("SimpleFailed", "Authentication")";
            });
        });
    }

   //Get the user's profile information from Microsoft Graph
    function getUserProfile(accessToken) {
        $.ajax({
            url: "https://graph.microsoft.com/v1.0/me/",
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", "Bearer " + accessToken);
            },
            success: function (profile) {
                localStorage.setItem("displayName", profile.displayName);
                console.log("User name is " + profile.displayName);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
            },
        });
    }
</script>
