<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tab People Picker Demo -Python</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- Microsoft Teams SDK -->
  <script src="https://res.cdn.office.net/teams-js/2.34.0/js/MicrosoftTeams.min.js"
    integrity="sha384-brW9AazbKR2dYw2DucGgWCCcmrm2oBFV4HQidyuyZRI/TnAkmOOnTARSTdps3Hwt"
    crossorigin="anonymous"></script>
</head>

<body>
  <div id="textConfiguration" class="font-semibold font-title"></div>

  <div>
    <p>Please select save to add the tab.</p>
  </div>

  <script>
    microsoftTeams.app.initialize().then(() => {
      microsoftTeams.app.notifySuccess();

      microsoftTeams.pages.config.registerOnSaveHandler((saveEvent) => {
        microsoftTeams.pages.config.setConfig({
          entityID: "Tab",
          contentUrl: `${window.location.origin}/tab`,
          suggestedTabName: "Tab",
          websiteUrl: `${window.location.origin}/tab`,
        }).then(() => {
          saveEvent.notifySuccess();
        });
      });

      microsoftTeams.pages.config.setValidityState(true);
    });
  </script>
</body>

</html>
