@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<head>
    <script src="https://res.cdn.office.net/teams-js/2.4.2/js/MicrosoftTeams.min.js"
            integrity="sha384-M1BiuUWGXFEu6jscBr/dyRZl4uojmiT5eMSu50lpG3eUyacKjwXE0eWRa2ZIdOmQ"
            crossorigin="anonymous"></script>
    <style>
        h3 {
            text-align: center;
            margin-top: 0.5rem;
        }

        button {
            margin-left: 36rem;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 30rem;
            height: 12rem;
            margin-left: 2rem;
            margin-top: 0.5rem;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }

        .container {
            padding: 2px 2px;
            display: flex;
        }

        img {
            border-radius: 50%;
        }

        .profile {
            margin-top: 1rem;
            margin-left: 2rem;
            max-width: 30rem;
            align-content: flex-start;
        }

        .btn-outline-info {
            margin-left: 19rem;
            max-width: 10rem;
        }

        .signin-header {
            margin-left: 2rem;
            margin-top: 1rem;
        }

        .card-container-div {
            margin-left: 30%;
            padding-bottom: 2rem;
        }

        .card-container-div-mobile {
            margin-left: 1%;
            padding-bottom: 2rem;
        }

        #divError {
            margin-left: 1rem
        }
    </style>
    <script>
        // Google app client id
        var googleId = "@ViewBag.GoogleAppId"; // Google app client id

        // Redirect url path
        var url = window.location.origin + "/Auth/GoogleEnd";

        var authId = "@ViewBag.AzureAppId"; // Azure AAD app id;

        var redirectMethod = "deeplink";

        // Fetch id token
        function getGoogleIdToken() {
            return new Promise((resolve, reject) => {
                microsoftTeams.app.initialize().then(() => {
                    microsoftTeams.authentication.authenticate({
                        url: `${window.location.origin}/Auth/GoogleStart?oauthRedirectMethod=${redirectMethod}&authId=${authId}&hostRedirectUrl=${url}&googleId=${googleId}`,
                        isExternal: true,
                        successCallback: function (result) {
                            alert("Success:" + result);
                        },
                        failureCallback: function (reason) {
                            alert("Failure:" + reason);
                        }
                    });
                })
            })
        }
    </script>
</head>

<body class="theme-light">
    <div class="surface">
        <h3> Welcome to Tab External Auth Sample</h3>
        <div class="card-container-div">
            <div>
                <div class="signin-header"><b>Sign in to Google</b></div>
                <div class="card">
                    <div class="container">
                        <img src="https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=612x612&w=0&h=kjCAwH5GOC3n3YRTHBaLDsLIuF8P3kkAJc9RvfiYWBY="
                             alt="Avatar" id="userImgGoogle" width="100px" height="100px">
                        <div class="profile">
                            <span id="gname"><b>Name: </b></span><br>
                            <span id="gemail"><b>Email: </b></span><br>
                        </div>
                    </div>
                    <div id="divError" style="display: none"></div>
                    <button type="button" class="btn btn-outline-info" onclick="googleAuth()" id="googlelogin">
                        Get
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>