@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

<h4>@Localizer["Hello World"]</h4>

<p>@Localizer["Welcome to Microsoft Teams Hello World sample app (C#)"]</p>
<p>@Localizer["Microsoft Teams is a persistent chat-based collaboration platform complete with document sharing, online meetings, and many more extremely useful features for business communications. Having an excellent team space is key to being able to make creative decisions and communicate with one another."]</p>
