@page
@model Content_Bubble_Bot.Pages.SecondPageModel
@{
    ViewData["Title"] = "SecondPage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Content Bubble</title>
    <style>
        .login {
            text-align: center;
        }
    </style>

</head>
<body>
    <script>
            microsoftTeams.initialize();
            function validateForm() {

                var selectedItems = {
                    title:"Increase research budget by 10%?",
                        userValue:  document.querySelector('input[name="inputVal"]:checked').value,

                    }
                microsoftTeams.tasks.submitTask(selectedItems);
                    return true;
                }


    </script>

    <div class="login" style="color:aliceblue;font-family:'Segoe UI';text-align:left">

        <form id="userLog" onSubmit="return validateForm()">
            <h3> Provide your Feedback!</h3>
            <h4>Increase research budget by 10%?</h4>
            <input type="radio" id="yes" name="inputVal" value="yes">
            <label for="yes">Yes</label><br />
            <input type="radio" id="no" name="inputVal" value="no">
            <label for="no">No</label><br />
            <br />
            <input style="border-radius: 12px;display: inline-block;width:74px;height:29px;font-size:medium;text-align:center;align-items:center" type="submit" value="Submit">
        </form>
    </div>

</body>
</html>

