@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Transcript</title>
</head>

<body>
    <p>Transcription details: </p>
    <pre id="transcription">@ViewBag.Transcripts</pre>
</body>

</html>