@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Transcript</title>
    <style>
        #transcription {
            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;
        }

        .pre-container {
            width: 35rem !important;
        }
    </style>
</head>

<body>
    <p>Transcription details: </p>
    <div class="pre-container">
        <pre id="transcription">@ViewBag.Transcripts</pre>
    </div>
</body>

</html>