@model IEnumerable<Microsoft.BotBuilderSamples.Controllers.DeepLinkChannelModel>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://res.cdn.office.net/teams-js/2.8.0/js/MicrosoftTeams.min.js"
        integrity="sha384-/DJ9oJEFZSpGiUQx9Na5Yb5svOPPqSb3khKxJ/YgoZ2GtrkzWgSTBpESy3LvMPVk"
        crossorigin="anonymous"></script>
<script>
    microsoftTeams.app.initialize();
    microsoftTeams.app.getContext().then((context) => {
        console.log(context);
            $('#tableList').show();
    })
</script>

<table id="tableList" style="margin-left:50px;margin-top:30px">

    @foreach (var item in Model)
    {
        <tr style="font-family:'Segoe UI';font-size:20px">
            <td>
                @Html.ActionLink(item.linkTitle, "DetailChannel", new { id = item.ID })
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
    }
</table>

<div style="margin-top:1rem;">
    <span class="container" style="font-size:20px;font-weight:700;">
        Extended Deep link features
    </span>
    @{
        Html.RenderPartial("ExtendedDeepLinks");
    }
</div>