@model IEnumerable<Microsoft.BotBuilderSamples.Controllers.DeepLinksModel>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://res.cdn.office.net/teams-js/2.8.0/js/MicrosoftTeams.min.js"
        integrity="sha384-/DJ9oJEFZSpGiUQx9Na5Yb5svOPPqSb3khKxJ/YgoZ2GtrkzWgSTBpESy3LvMPVk"
        crossorigin="anonymous"></script>
<script>
     microsoftTeams.app.initialize()
     microsoftTeams.app.getContext().then((context) => {
        if (context.page.subPageId === "topic1")
        {
            document.getElementById("taskDiv").innerHTML = "Bots in Teams:";
            document.getElementById("taskContent").innerHTML = "Conversational bots allow users to interact with your web service through text, interactive cards, and task modules. They're incredibly flexible — conversational bots can be scoped to handling a few simple commands or complex, artificial-intelligence-powered and natural-language-processing virtual assistants. They can be one aspect of a larger application, or completely stand-alone."
            var element = document.getElementById('tableList');
            element.style.display = "none";
            context.page.subPageId = null;
        }
        else if (context.page.subPageId === "topic2")
        {
            document.getElementById("taskDiv").innerHTML = "Bot Frawework SDK:";
            document.getElementById("taskContent").innerHTML = "The Microsoft Bot Framework is a rich SDK for building bots using C#, Java, Python, and JavaScript. If you already have a bot that's based on the Bot Framework, you can easily adapt it to work in Microsoft Teams. We recommend you use either C# or Node.js to take advantage of our SDKs."

            var element = document.getElementById('tableList');
            element.style.display = "none";
            context.page.subPageId = null;
        }

        else if (context.page.subPageId === "topic3")
        {
            document.getElementById("taskDiv").innerHTML = "Teams Apps:";
            document.getElementById("taskContent").innerHTML = "Teams apps are a combination of capabilities and entry points. For example, people can chat with your app's bot (capability) in a channel (entry point). Some apps are simple(send notifications), while others are complex(manage patient records).When planning your app, remember that Teams is a collaboration hub.The best Teams apps help people express themselves and work better together."
            var element = document.getElementById('tableList');
            element.style.display = "none";
            context.page.subPageId = null;
        }
        else
        {
            $('#tableList').show();
            var element = document.getElementById('taskList');
            element.style.display = "none";
        }
    })
</script>

<div id="taskDiv" style="margin-top:10px;width:180px;color:darkslateblue;font-family:'Segoe UI';font-size:20px;"></div>
<div id="taskContent" style="margin-top:-23px;margin-left:180px;color:Highlight;font-family:'Segoe UI';font-size:15px"></div>

<a id="taskList" href="TaskList" style="font-family:'Segoe UI';font-size:20px;">Back To List</a>

<table id="tableList" style="margin-left:50px;margin-top:30px">

    @foreach (var item in Model)
    {
        <tr style="font-family:'Segoe UI';font-size:20px">
        <td>
            @Html.ActionLink(item.linkTitle, "Detail", new { id = item.ID })
        </td>
        </tr>
        <tr></tr>
        <tr></tr>
    }
</table>

<div style="margin-top:1rem;">
    <span class="container" style="font-size:20px;font-weight:700;">
        Extended Deep link features
    </span>
    @{
        Html.RenderPartial("ExtendedDeepLinks");
    }
</div>