
@{ ViewBag.Title = "Detail"; }
@model Microsoft.BotBuilderSamples.Controllers.DeepLinksModel

<script src="https://res.cdn.office.net/teams-js/2.34.0/js/MicrosoftTeams.min.js"
        integrity="sha384-brW9AazbKR2dYw2DucGgWCCcmrm2oBFV4HQidyuyZRI/TnAkmOOnTARSTdps3Hwt"
        crossorigin="anonymous"></script>

<script>
    microsoftTeams.app.initialize().then(() => {
    });
    microsoftTeams.app.openLink("@Model.linkUrl")
</script>

<p>
    @Html.ActionLink("Back to List", "TaskList")
</p>

