
@{ ViewBag.Title = "Detail"; }
@model Microsoft.BotBuilderSamples.Controllers.DeepLinksModel

<script src="https://res.cdn.office.net/teams-js/2.8.0/js/MicrosoftTeams.min.js"
        integrity="sha384-/DJ9oJEFZSpGiUQx9Na5Yb5svOPPqSb3khKxJ/YgoZ2GtrkzWgSTBpESy3LvMPVk"
        crossorigin="anonymous"></script>

<script>
    microsoftTeams.app.initialize();
    microsoftTeams.app.openLink("@Model.linkUrl")
</script>

<p>
    @Html.ActionLink("Back to List", "TaskList")
</p>

