@page
@{
    ViewData["Title"] = "HelloWorld";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<p>
    Welcome to Microsoft Teams Dialogs (referred as task modules in TeamsJS v1.x) Sample App (C#)
</p>