# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'samples/tab-personal-quickstart/js/**'  
  pull_request:
    branches: [ "main" ]
    paths:
      - 'samples/tab-personal-quickstart/js/**'

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: 'samples/tab-personal-quickstart/js'

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm build
    - run: npm test
