<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Teams Hello World Sample App</title>
    <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css">
    <link rel="stylesheet" type="text/css" href="/styles/custom.css">
    <script src="https://res.cdn.office.net/teams-js/2.10.1/js/MicrosoftTeams.min.js" integrity="sha384-Tc1x2xjzm4vRqLV4l416qPm+i7t8ujpxrioZEjRCNP7g/gQNDW41TB1SpVkQxowY" crossorigin="anonymous"></script>
    <script src="/scripts/teamsapp.js"></script>
</head>

<body class="theme-light">
    <div class="surface">
        <div class="panel">
            <div class="font-semibold font-title">Configure your app here</div>
            <div>
                <label for="tabChoice">Select the tab you would like to see:</label>
                <select id="tabChoice" name="tabChoice" title="Select the tab you would like to see">
                    <option value="" selected="selected">(Select a tab)</option>
                    <option value="first">First</option>
                    <option value="second">Second</option>
                </select>
            </div>
        </div>
    </div>
</body>

</html>